<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <!--<target name="file" layout="${longdate} ${logger} ${message}" xsi:type="File" maxarchivefiles="7" keepfileopen="false" filename="${basedir}/logs/logfile.txt" encoding="iso-8859-2" concurrentwrites="true" archivenumbering="Rolling" archivefilename="${basedir}/archives/log.{#}.txt" archiveevery="Day">-->

    <target name="file" layout="${longdate} ${logger} ${message}" xsi:type="File" maxArchiveFiles="7" keepFileOpen="false" fileName="${basedir}/App_Data/Logs/${shortdate}.log" encoding="utf-8" concurrentWrites="true" archiveNumbering="Rolling" />

    <!--<target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="${basedir}/${shortdate}.log" />-->

  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>
</nlog>