<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=hng3-sql2k19;Initial Catalog=2021HN0032_CyDenture;Integrated Security=SSPI;MultipleActiveResultSets=True"/>
    <add name="FormGeneratorEntities" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECTSQL2016;initial catalog=2017HN0012_Ph_Opinion;Integrated Security=SSPI;;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ContentPath" value="/Manager"/>
    <add key="AesKey" value="Copyright@ HAMASTAR Technology Co., Ltd.2021Denture"/>
    <!--後台JavaScript 開新視窗時的參數 -->
    <add key="NewWindowStyle" value="'width=1024,height=768,top=0,left=150,menubar=0,toolbar=0,scrollbars=1,resizable=1'"/>
    <!-- 網頁編輯器->上傳路徑 -->
    <add key="CKeditor:UserFilesPath" value="/Upload/UserFiles/"/>
    <add key="CK_Hight" value="400"/>
    <!-- 相關檔案等檔案上傳路徑 -->
    <add key="UploadFolder" value="/Upload"/>
    <!-- 多檔上傳參數設定開始 -->
    <!--限制->影音檔案上傳大小 (Max 500MB) -->
    <add key="UploadMediaSize" value="150"/>
    <add key="UploadMediaType" value="*.wmv;*.mp4;*.flv;*.avi;*.mpeg;*.mpg;*.mov;*.3gp;*.h264;*.ts;*.m4v;*.asf;*.mts;*.mov"/>
    <add key="UploadMediaFileType" value="video;audio/mpeg;audio/x-ms-wma"/>
    <!-- 限制 -> 檔案上傳大小 (MB) -->
    <add key="UploadFileSize" value="30"/>
    <!-- 限制 -> 檔案上傳類型 -->
    <add key="UploadFileType" value="*.jpg;*.png;*.gif;*.pdf;*.xls;*.xlsx;*.doc;*.docx;*.ods;*.odp;*.odt;*.txt;*.rar;*.zip"/>
    <add key="UploadDocFileType" value="text;application;video"/>
    <!-- 限制 -> 圖檔上傳大小 (MB) -->
    <add key="UploadPicSize" value="10"/>
    <!-- 限制 -> 圖檔上傳類型 -->
    <add key="UploadPicType" value="*.jpg;*.gif;*.bmp;*.png"/>
    <add key="UploadPicFileType" value="image"/>
    <add key="UploadExcelFileType" value=".xls,.xlsx"/>
    <!-- 栽切圖檔的預設大小 -->
    <add key="jcropWidth" value="252"/>
    <add key="jcropHeight" value="360"/>
    <!-- 多檔上傳參數設定結束 -->
    <!-- 寄給同仁時,要顯示來源主機的名稱 -->
    <add key="MailFromTitleInternal" value="嘉義縣樂齡活動假牙個案管理系統"/>
    <!-- 寄給同仁時, EMAIL信箱-->
    <add key="EmailAccountInternal" value="hnap03@mail.hamastar.com"/>
    <!-- 寄給民眾時,要顯示來源主機的名稱 -->
    <add key="MailFromTitleExternal" value="嘉義縣樂齡活動假牙個案管理系統"/>
    <!-- 寄給民眾時,EMAIL信箱 -->
    <add key="EmailAccountExternal" value="hnap03@mail.hamastar.com"/>
    <!-- 管理者信箱 -->
    <add key="ManagerEmail" value="Taeko@mail.hamastar.com.tw"/>
    <!-- 限制pdf檔案大小(MB)-->
    <add key="UploadPdfSize" value="50"/>
    <add key="UploadPdfType" value="*.pdf"/>
    <add key="UploadTxtType" value="*.txt"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--是否檢測無障礙,參數:0=否,1=是-->
    <add key="Chk_Accessibility" value="1"/>
    <!--簡訊設定-->
    <!--<add key="SendMsg_ID" value="89938678" />
    <add key="SendMsg_PW" value="61a8211a" />-->
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
    <machineKey compatibilityMode="Framework45"/>
    <!-- Session 儲存在 SQL SERVER -->
    <sessionState mode="SQLServer" timeout="30" regenerateExpiredSessionId="true" cookieless="false" sqlConnectionString="data source=hng3-sql2k19;Integrated Security=SSPI;Initial Catalog=2021HN0032_CyDenture" allowCustomSqlDatabase="true" compressionEnabled="true"/>
    <!-- 單一檔案上傳大小限制(KB) -->
    <httpRuntime targetFramework="4.5" maxRequestLength="512000" executionTimeout="3600" appRequestQueueLimit="1000000"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.SqlServer.Types, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <customErrors mode="Off" defaultRedirect="Error.aspx">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages maintainScrollPositionOnPostBack="true" enableViewStateMac="true" viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <roleManager cookieRequireSSL="true" cookieTimeout="10"/>
  </system.web>
  <system.net>
    <!--傳送郵件預設帳號 -->
    <mailSettings>
      <smtp from="hnap03@mail.hamastar.com">
        <network host="mail.hamastar.com" password="HN@#%$Ap0$3" userName="hnap03"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4000000000"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="/default.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.11" newVersion="1.3.3.11"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
</configuration>