/*popupÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â±ÃƒÂ¥Ã‚ÂÃ…â€™ÃƒÂ¦Ã‚Â¨Ã‚Â£ÃƒÂ¥Ã‚Â¼Ã‚Â*/

/*XÃƒÂ¦Ã‚Â¨Ã‚Â£ÃƒÂ¥Ã‚Â¼Ã‚Â*/
div.jqi{
    position:relative!important;
}

div.jqi .jqiclose {
    position: absolute;
    right: 18px!important;
    font-size: xx-large;
    font-weight: 100!important;
}


/*ÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â§ÃƒÂ©Ã‚Â Ã‚ÂÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¦Ã‚Â Ã‚Â¼ÃƒÂ¦Ã…Â½Ã¢â‚¬â„¢ÃƒÂ§Ã¢â‚¬Â°Ã‹â€ */
.subsystem td {
    background-color: #f3f3f3;
    text-align: left;
    line-height: 180%;
}


.ajax__combobox_buttoncontainer {
     padding:0px!important;
}

.ajax__combobox_textboxcontainer input {
    vertical-align: top;
}

tr.Dynamic {
    background-color: #EDFDFE;
}

/*ÃƒÂ©Ã‚Â¡Ã…Â¾ÃƒÂ¥Ã‹â€ Ã‚Â¥ÃƒÂ©Ã‚ÂÃ‚Â¸ÃƒÂ¦Ã¢â‚¬Å“Ã¢â‚¬Â¡ÃƒÂ¦Ã…â€™Ã¢â‚¬Â°ÃƒÂ©Ã‹â€ Ã¢â‚¬Â¢ÃƒÂ¨Ã‹â€ Ã¢â‚¬Â¡ÃƒÂ¦Ã¢â‚¬â€œÃ‚Â°ÃƒÂ¥Ã‚Â¢Ã…Â¾ÃƒÂ¦Ã‚Â¬Ã¢â‚¬Å¾ÃƒÂ¤Ã‚Â½Ã‚ÂÃƒÂ¦Ã…â€™Ã¢â‚¬Â°ÃƒÂ©Ã‹â€ Ã¢â‚¬Â¢*/
.Button_add_1 {background-color: #5584dc;}
.Button_add_2 {background-color: #dc6255;}
.Button_add_1,.Button_add_2 {
    color: #fff;
    padding: 5px 15px;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    border: 0;
    margin: 10px 0;
    cursor: pointer;
    font-family: inherit;
}

/*ÃƒÂ¥Ã‚Â­Ã‚ÂÃƒÂ§Ã‚Â³Ã‚Â»ÃƒÂ§Ã‚ÂµÃ‚Â±ÃƒÂ©Ã‚Â¡Ã…Â¾ÃƒÂ¥Ã‹â€ Ã‚Â¥ÃƒÂ©Ã‚Â¡Ã‚Â¯ÃƒÂ§Ã‚Â¤Ã‚ÂºÃƒÂ©Ã‚ÂÃ‚Â¸ÃƒÂ©Ã‚Â Ã¢â‚¬Â¦ÃƒÂ¦Ã‚ÂÃ‚ÂÃƒÂ§Ã‚Â¤Ã‚Âº*/
.subsystem ol {
    width: 100%;
    margin-top: 10px;
    list-style-type: none;
}

.subsystem ol li {
    float: left;
    width: 30%;
    font-size: 11pt;
    padding-right: 10px;
}

/*ÃƒÂ©Ã‚Â©Ã¢â‚¬â€ÃƒÂ¨Ã‚Â­Ã¢â‚¬Â°ÃƒÂ§Ã‚Â¢Ã‚Â¼ÃƒÂ¥Ã‚Â°Ã‚ÂÃƒÂ©Ã‚Â½Ã…Â */
img#content_Imgchkcode {
    vertical-align: middle;
}

label {
    padding-right: 5px;
}

/*POPUPÃƒÂ§Ã‚ÂµÃ‚Â±ÃƒÂ¤Ã‚Â¸Ã¢â€šÂ¬*/


div.jqi .jqititle {
    font-size: 14pt!important;
    font-weight: bold;
}

ul#Dialog_ul {
    width: inherit;
    font-size: 14pt!important;
}

#Dialog_ul li {
    float: left;
    width: 33%;
    list-style-type: none;
    line-height: 180%;
    font-size: 12pt;
}

#Dialog_ul.HasSub li label{
    color: #2480d3;
    font-weight: bold;
}

#Dialog_ul.HasSub li {
    width: 100%;
    list-style-type: none;
    line-height: 180%;
    font-size: 12pt;
}
#Dialog_ul.HasSub ul {
    text-indent: 20px;
}

#Dialog_ul.HasSub ul li {
    float: left;
    width: 33%;
}


.black00 > tbody > tr >td{
    text-align: left;
    padding: 10px 15px;
    border-bottom-style: none;
    vertical-align: middle;
}

.black00 > tbody > tr > td:first-child, .black00 > tbody > tr > td:first-child >span {
    vertical-align: top;
}

#content_ctl00_trGoogleMap td input {
    margin: 10px 0 0 10px;
}

table#content_dlContent td {
    vertical-align: top;
}

/*popup ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¦Ã‚Â¨Ã‚Â£ÃƒÂ¥Ã‚Â¼Ã‚Â*/

.TableClass_H2 th {
    background-color: #E8F6FB!important;
    padding: 5px 7px!important;
    border-bottom: 1px dotted #cccccc;
    text-align: left;
}

.TableClass_H2 tr {
    border-bottom: 1px dotted #cccccc;
}

.TableClass_H2 tr:last-child {
    background-image: none!important;
}

.TableClass_H2 tr:nth-child(even) {
    background-color: #F8F8F8!important;
}

.TableClass_H2 td{ padding: 3px 8px !important;}

.gray_box3 th {background-color:#efefef!important; padding-left:10px!important;}

.gray_box3 td {text-align: left;padding-left: 10px;}

#fvDetail th a:hover {color: #0782C1!important;}

.form03 input {margin: 5px 0;}

/*ÃƒÂ§Ã‚Â´Ã‚Â°ÃƒÂ©Ã†â€™Ã‚Â¨ÃƒÂ¦Ã…Â½Ã¢â‚¬â„¢ÃƒÂ§Ã¢â‚¬Â°Ã‹â€ ÃƒÂ¦Ã‚Â¨Ã‚Â£ÃƒÂ¥Ã‚Â¼Ã‚Â*/
.Text_Calign {text-align:center!important;}

.List_height {padding:10px 0px 10px 10px !important;}

.v-top {vertical-align: top!important;}

.v-center {vertical-align: middle!important;}

.Spacing{margin: 0 10px;}

/*ÃƒÂ§Ã¢â‚¬ÂºÃ‚Â¸ÃƒÂ§Ã‚Â°Ã‚Â¿ÃƒÂ¦Ã‚Â¨Ã‚Â£ÃƒÂ¥Ã‚Â¼Ã‚ÂÃƒÂ¤Ã‚Â¿Ã‚Â®ÃƒÂ¦Ã¢â‚¬ÂÃ‚Â¹*/
.preview_box td {
              color: Black;
              padding-left: 5px;
              }
#content_ctl00_RelPic1_Show table tr td, #content_RelPic1_Show table tr td{
    padding: 15px 0 0 0;
}

/*ÃƒÂ¥Ã‚Â½Ã‚Â±ÃƒÂ©Ã…Â¸Ã‚Â³ÃƒÂ¦Ã‚Â¨Ã‚Â£ÃƒÂ¥Ã‚Â¼Ã‚ÂÃƒÂ¤Ã‚Â¿Ã‚Â®ÃƒÂ¦Ã¢â‚¬ÂÃ‚Â¹*/
#content_ctl00_RelMovie1_Show table tr iframe, #content_RelMovie1_Show table tr iframe {
    width: 185px;
    height: auto;
}

/*ÃƒÂ¨Ã‚Â¨Ã…Â½ÃƒÂ¨Ã‚Â«Ã¢â‚¬â€œÃƒÂ¥Ã‚ÂÃ¢â€šÂ¬ÃƒÂ©Ã‚ÂÃ‚Â¸ÃƒÂ©Ã‚Â Ã¢â‚¬Â¦ÃƒÂ¦Ã…Â½Ã¢â‚¬â„¢ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€*/
#content_rblNewState , #content_rblState td {
    display: block;
}

/*ÃƒÂ¨Ã‚Â¡Ã…â€™ÃƒÂ¤Ã‚ÂºÃ¢â‚¬Â¹ÃƒÂ¦Ã¢â‚¬ÂºÃ¢â‚¬Â */
.DetailTable {
    margin-top: 15px;
    color: #666666!important;
}


.DetailTable td {
    padding: 5px 0;
    line-height: 2em;
    width: 14%;
    height: 25px;
    border: 1px solid rgba(0,0,0,0.05) !important;
}


.DetailTable tr:first-child td {
    font-weight: bold;
}

a#content_NextMonth:after {
    content: "ÃƒÂ¢Ã¢â‚¬â€œÃ‚Âº";
}

a#content_PrevMonth:before {
    content: "ÃƒÂ¢Ã¢â‚¬â€Ã¢â‚¬Å¾";
}

/*ÃƒÂ¦Ã‚Â¬Ã…Â ÃƒÂ©Ã¢â€žÂ¢Ã‚ÂpopupÃƒÂ¦Ã‚Â¨Ã‚Â£ÃƒÂ¥Ã‚Â¼Ã‚Â*/
body#PageBody {
    padding: 20px;
}

.treeDiv {
    float: left;
    box-sizing: border-box;
}

.treeDiv .treeDept {
    min-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}


.treeDiv:nth-child(2), .treeDiv:nth-child(1) {
    width: 50%;
}

.treeDiv_title {
    width: 95%;
    border-left: 5px solid #08c;
    padding-left: 5px;
    font-size: 14pt;
    font-weight: bold;
}

.treeDiv .treeDept {
    min-height: 480px;
}

td.jtd > span {
    margin-right: 10px;
}

ul#ulSelect {
    list-style: none;
    padding: 10px;
    margin-left: 35px;
    height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

ul#ulSelect li {
    font-size: 12pt!important;
    line-height: 180%;
    padding: 0 15px;
    background-color: #efefef;
    border-bottom: 1px dotted #fff;
    border-left: 5px solid #6AB9E0;
}

ul#ulSelect li:hover {
    background-color: #EAE9E9;
    border-left: 5px solid #84CBEF;
}

#fvDetail treeDiv:nth-child(1) {
    width: 80%;
}

ul#ulSelect p {
    float: right;
    padding-left: 20px;
}

p.deletep:hover {
    cursor: pointer;
}

//ÃƒÂ¦Ã‚Â¾Ã…Â½ÃƒÂ¦Ã‚Â¹Ã¢â‚¬â€œÃƒÂ¥Ã‚Â¾Ã…â€™ÃƒÂ¨Ã¢â‚¬Â¡Ã‚ÂºÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¦Ã‚Â Ã‚Â¼ÃƒÂ¦Ã‚Â¨Ã‚Â£ÃƒÂ¥Ã‚Â¼Ã‚Â

/* line 156, ../sass/_layout.scss */
table.Detail-table {
  font-size: 16px !important;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 10px 0 0 0;
  border: 1px solid #d6d6d6;
}
/* line 165, ../sass/_layout.scss */
table.Detail-table tbody tr {
  padding: 5px 8px;
}
/* line 167, ../sass/_layout.scss */
table.Detail-table tbody tr.is-active {
  background-color: #fee8e5;
}
/* line 169, ../sass/_layout.scss */
table.Detail-table tbody tr.is-active .dead-line {
  color: #e2556e;
}
/* line 173, ../sass/_layout.scss */
table.Detail-table tbody tr .td-title {
  background-color: #e4eff3;
  color: #3f3f3f;
  font-size: 16px !important;
  font-family: "ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â»Ã…Â¸ÃƒÂ¦Ã‚Â­Ã‚Â£ÃƒÂ©Ã‚Â»Ã¢â‚¬ËœÃƒÂ©Ã‚Â«Ã¢â‚¬Â";
  border-right: 1px solid #08c;
}
/* line 179, ../sass/_layout.scss */
table.Detail-table tbody tr .td-title span {
  color: #3f3f3f;
}
/* line 181, ../sass/_layout.scss */
table.Detail-table tbody tr .td-title span.red01 {
  color: red;
}
/* line 186, ../sass/_layout.scss */
table.Detail-table tbody tr td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
/* line 188, ../sass/_layout.scss */
table.Detail-table tbody tr td table {
  background-color: #f0f0f0;
}
/* line 193, ../sass/_layout.scss */
table.Detail-table tbody tr td table tbody tr td {
  border-bottom: 0px;
}
/* line 199, ../sass/_layout.scss */
table.Detail-table tbody tr td i {
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 3px;
}
/* line 203, ../sass/_layout.scss */
table.Detail-table tbody tr td i.receipt {
  background-color: #594f8c;
}
/* line 206, ../sass/_layout.scss */
table.Detail-table tbody tr td i.carried {
  background-color: #22b1bf;
}
/* line 209, ../sass/_layout.scss */
table.Detail-table tbody tr td i.view {
  background-color: #86c351;
}
/* line 212, ../sass/_layout.scss */
table.Detail-table tbody tr td i.fork {
  background-color: #e6943a;
}
/* line 222, ../sass/_layout.scss */
table.Detail-table tfoot tr.list_gotopage td {
  text-align: center;
  text-decoration: none;
}
/* line 232, ../sass/_layout.scss */
table.Detail-table select {
  padding: 6px;
}

table.Detail-table {
    border: 1px solid #ccc;
}

/* line 708, ../sass/_layout.scss */
.case-list {
  margin-right: 25px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

/* line 716, ../sass/_layout.scss */
.case-list-title {
  background-color: #50c0e4;
}
/* line 719, ../sass/_layout.scss */
.case-list-title ul li {
  float: left;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
}
/* line 725, ../sass/_layout.scss */
.case-list-title ul li:first-child {
  width: 80%;
}
/* line 728, ../sass/_layout.scss */
.case-list-title ul li:last-child {
  float: none;
  overflow: hidden;
}

/* line 736, ../sass/_layout.scss */
table.case-list-table {
  width: 100%;
  box-sizing: border-box;
}
/* line 741, ../sass/_layout.scss */
table.case-list-table tbody tr {
  padding: 5px 8px;
  background-color: #ffffff;
}
/* line 744, ../sass/_layout.scss */
table.case-list-table tbody tr th {
  background-color: #fffcf5;
  border-bottom: 2px solid #f8921c;
  font-size: 16px !important;
  padding: 10px;
}
/* line 748, ../sass/_layout.scss */
table.case-list-table tbody tr th span {
  color: #3f3f3f;
}
/* line 752, ../sass/_layout.scss */
table.case-list-table tbody tr td {
  border-bottom: 1px solid #ccc !important;
  padding: 5px 10px;
}
/* line 756, ../sass/_layout.scss */
table.case-list-table tbody tr td .tex-left:last-child {
  text-align: center !important;
}
/* line 763, ../sass/_layout.scss */
table.case-list-table tbody tr td table tbody tr {
  border: 0;
}
/* line 765, ../sass/_layout.scss */
table.case-list-table tbody tr td table tbody tr td {
  padding: 0;
}
/* line 772, ../sass/_layout.scss */
table.case-list-table tbody tr td i {
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 3px;
}
/* line 776, ../sass/_layout.scss */
table.case-list-table tbody tr td i.receipt {
  background-color: #594f8c;
}
/* line 779, ../sass/_layout.scss */
table.case-list-table tbody tr td i.carried {
  background-color: #22b1bf;
}
/* line 782, ../sass/_layout.scss */
table.case-list-table tbody tr td i.view {
  background-color: #86c351;
}
/* line 785, ../sass/_layout.scss */
table.case-list-table tbody tr td i.fork {
  background-color: #e6943a;
}
/* line 790, ../sass/_layout.scss */
table.case-list-table tbody tr.is-active {
  background-color: #fee8e5 !important;
}
/* line 792, ../sass/_layout.scss */
table.case-list-table tbody tr.is-active .dead-line {
  color: #e2556e !important;
}
/* line 801, ../sass/_layout.scss */
table.case-list-table tfoot tr.list_gotopage td {
  text-align: center;
  text-decoration: none;
}


/* line 251, ../sass/_layout.scss */
.search-box {
  /* padding: 5px; */
  margin-bottom: 15px;
  background-color: #F7F7F7;
  border: double;
  border-width: 0;
  border-color: gray;
  line-height: 2;
}
/* line 259, ../sass/_layout.scss */
.search-box td {
  padding: 5px;
  line-height: 170%;
}
/* line 262, ../sass/_layout.scss */
.search-box .fieldset {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 268, ../sass/_layout.scss */
.search-box .fieldset span.search {
  display: block;
  width: 200px;
}
/* line 271, ../sass/_layout.scss */
.search-box .fieldset span.search input {
  display: block;
  width: 100%;
}
/* line 279, ../sass/_layout.scss */
.search-box select {
  line-height: 30px;
  height: 33px;
  padding: 5px 10px;
  border-color: #ccc;
}
/* line 286, ../sass/_layout.scss */
.search-box input {
  line-height: 15px !important;
}
/* line 289, ../sass/_layout.scss */
.search-box input[type="search"] {
  line-height: 30px;
  
}
/* line 292, ../sass/_layout.scss */
.search-box input[type="date"] {
  line-height: 30px;
}
/* line 295, ../sass/_layout.scss */
.search-box input[type="submit"],.search-box input[type="button"] {background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);color: #545454;border-radius: 3px;border: 1px solid #d8d8d8;padding: 5px 8px;}

input[type="submit"], .search-box input[type="date"], .search-box input[type="search"] {
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  color: #545454;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  padding: 5px 8px;
}
//ÃƒÂ¦Ã…â€™Ã¢â‚¬Â°ÃƒÂ©Ã‹â€ Ã¢â‚¬Â¢ÃƒÂ¦Ã‚Â¨Ã‚Â£ÃƒÂ¥Ã‚Â¼Ã‚Â
a, input {
    text-decoration: none;
    font-size: 1em !important;
    padding: 5px 8px;
    display: inline-block;
    font-family: "ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â»Ã…Â¸ÃƒÂ¦Ã‚Â­Ã‚Â£ÃƒÂ©Ã‚Â»Ã¢â‚¬ËœÃƒÂ©Ã‚Â«Ã¢â‚¬Â", Arial;
}
/* line 340, ../sass/_layout.scss */
a.fix,
input.fix {
  background-color: #22b1bf;
  color: #ffffff;
  border-radius: 3px;

}
/* line 345, ../sass/_layout.scss */
a.fix:hover,
input.fix:hover {
  background-color: #26c5d5;
}
/* line 349, ../sass/_layout.scss */
a.add,
input.add {
  background-color: #86c351;
  color: #ffffff;
  border-radius: 3px;
}
/* line 353, ../sass/_layout.scss */
a.add:hover,
input.add:hover {
  background-color: #93ca64;
}
/* line 357, ../sass/_layout.scss */
a.delete,
input.delete {
  background-color: #e6943a;
  color: #ffffff;
  border-radius: 3px;
}
/* line 361, ../sass/_layout.scss */
a.delete:hover,
input.delete:hover {
  background-color: #e9a051;
}
/* line 365, ../sass/_layout.scss */
a.cancel,
input.cancel {
  background-color: #5780bb;
  color: #ffffff;
  border-radius: 3px;
}
/* line 369, ../sass/_layout.scss */
a.cancel:hover,
input.cancel:hover {
  background-color: #698ec2;
}

#content_BtnAdd, #content_BtnDelete {
    border-radius: 3px;
    padding: 8px 18px !important;
    font-size: 1.1em;
    border: 1px solid #ccc;
}