@charset "UTF-8";
/* 
	請注意！本 sass 所做設定為其他scss檔案基礎。
	本 scss 僅做基礎功能的引入，除非有其他系統規範的異動，否則請避免任何變更。
*/
/* line 5, ../Sass/_base_function.scss */
.sys-root .base-footer > .inner > .content > .inner:after, div.group-list-obj > .inner > .content > .inner > ul:after, .area-form.update-form .content > .inner:after {
  content: "​";
  display: block;
  height: 0;
  clear: both;
}

/* line 12, ../Sass/_base_function.scss */
.area-figure.obj .content .mark span, .area-figure.obj .footer li.remove a, .area-figure.obj .footer li.move a, .area-figure.obj .footer li.resize a, .area-figure.obj .footer li.dowload a, .area-figure.update-pic .footer li.remove a {
  text-indent: -9999px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/* line 19, ../Sass/_base_function.scss */
.area-figure.obj .content .caption, .area-figure.obj .content .paragraph p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 45, ../Sass/_base_function.scss */
div.group-list-obj > .inner > .content > .inner > ul, .area-figure.obj .content .list ul, .area-figure.obj .content .label ul, .area-figure.obj .footer ul, .area-figure.update-pic .footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  list-style: none;
  background-color: transparent;
  font-size: 1em;
  font-weight: 400;
  transition: 0;
}

/* line 73, ../Sass/_base_function.scss */
.area-figure.obj .content .image span {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 123, ../Sass/_base_function.scss */
.sys-root input[type="submit"], .sys-root input[type="reset"], .sys-root input[type="button"] {
  display: inline-block;
  padding: 6px 20px;
  border: 0;
  box-sizing: border-box;
  line-height: 1;
  vertical-align: middle;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.9em;
  background-color: #e3697d;
  transition: 200ms;
}
/* line 136, ../Sass/_base_function.scss */
.sys-root input[type="submit"]:link, .sys-root input[type="reset"]:link, .sys-root input[type="button"]:link {
  color: #ffffff;
}
/* line 140, ../Sass/_base_function.scss */
.sys-root input[type="submit"]:visited, .sys-root input[type="reset"]:visited, .sys-root input[type="button"]:visited {
  color: #ffffff;
}
/* line 144, ../Sass/_base_function.scss */
.sys-root input[type="submit"]:hover, .sys-root input[type="reset"]:hover, .sys-root input[type="button"]:hover {
  background-color: #db3e58;
}
/* line 148, ../Sass/_base_function.scss */
.sys-root input[type="submit"]:active, .sys-root input[type="reset"]:active, .sys-root input[type="button"]:active {
  color: #ffffff;
}

/* line 153, ../Sass/_base_function.scss */
.sys-root input[type="text"], .sys-root input[type="email"], .sys-root input[type="number"], .sys-root input[type="password"], .sys-root input[type="search"], .sys-root select {
  padding: 6px 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  vertical-align: middle;
  box-sizing: border-box;
}

/* 
	請注意！本 scss 所做設定皆全域可見。
	本 sass 引入 icomoon 圖示字型，用以作為文字圖示。

	詳細資訊請參閱 https://icomoon.io/，教學請參閱 http://www.minwt.com/html/12931.html

	1 將 icon 包下載回來後，將包裡的 fonts 複製到 /Images/icon-font
	2 修改 style.css 裡的項目，步驟如下：
		1 將 @font-face 與 [class^="icon-"], [class*=" icon-"] 樣式刪除
		2 將 ":before" 字串全數刪除
		3 將 ".icon-" 取代成 ".icon-font-"
		4 將修改的內容複製至 /Sass/_bace_icon-font.scss
*/
@font-face {
  font-family: 'icomoon';
  src: url("../Images/icon-font/icomoon.eot?59oic8");
  src: url("../Images/icon-font/icomoon.eot?#iefix59oic8") format("embedded-opentype"), url("../Images/icon-font/icomoon.ttf?59oic8") format("truetype"), url("../Images/icon-font/icomoon.woff?59oic8") format("woff"), url("../Images/icon-font/icomoon.svg?59oic8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
	/*
	本 sass 引入 icomoon 圖示字型，用以作為文字圖示。

	詳細資訊請參閱 https://icomoon.io/，教學請參閱 http://www.minwt.com/html/12931.html

	1 將 icon 包下載回來後，將包裡的 fonts 目錄檔案 .eot .svg .ttf .woff 檔案複製到 /Images/icon-font
	2 修改 style.css 裡的項目，步驟如下：
		1 將 @font-face 與 [class^="icon-"], [class*=" icon-"] 樣式刪除
		2 將 ":before" 字串全數刪除
		3 將 ".icon-" 取代成 ".icon-font-"
		4 將修改的內容複製至 /Sass/_bace_icon-font.scss
	*/
/* line 20, ../Sass/_base_icon-font.scss */
.icon-font-signal_cellular_4_bar {
  content: "\e0b4";
}

/* line 23, ../Sass/_base_icon-font.scss */
.icon-font-transform {
  content: "\e1b9";
}

/* line 26, ../Sass/_base_icon-font.scss */
.icon-font-check_box {
  content: "\e25c";
}

/* line 29, ../Sass/_base_icon-font.scss */
.icon-font-check_box_outline_blank {
  content: "\e25d";
}

/* line 32, ../Sass/_base_icon-font.scss */
.icon-font-radio_button_unchecked {
  content: "\e25e";
}

/* line 35, ../Sass/_base_icon-font.scss */
.icon-font-radio_button_checked {
  content: "\e25f";
}

/* line 38, ../Sass/_base_icon-font.scss */
.icon-font-search {
  content: "\e2ca";
}

/* 
	請注意！本 scss 所做設定皆全域可見。
	本 sass 引入 Images 資料夾內的 icon-pic 圖示，用以作為雪碧圖示。
*/
/* line 112, icon-pic/*.png */
.icon-pic-sprite, .icon-pic-dowload, .icon-pic-dowloadactive, .icon-pic-drop, .icon-pic-enlarge, .icon-pic-enlargeactive, .icon-pic-remove, .icon-pic-resize, .icon-pic-resizeactive, .icon-pic-trash {
  background-image: url('../Images/icon-pic-s84b23a3906.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-dowload {
  background-position: 0 0;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-dowloadactive {
  background-position: 0 -14px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-drop {
  background-position: 0 -28px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-enlarge {
  background-position: 0 -52px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-enlargeactive {
  background-position: 0 -66px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-remove {
  background-position: 0 -80px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-resize {
  background-position: 0 -101px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-resizeactive {
  background-position: 0 -115px;
}

/* line 84, C:/Program Files/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-trash {
  background-position: 0 -129px;
}

/* 
	請注意！本 scss 所做設定皆全域可見。
	本 sass 僅做基礎框架、格線的引入，請避免在此直接寫入樣式。
	若需要對全域樣式設定，請撰寫在 bace_layout.scss。
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 11, ../Sass/_sys_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 21, ../Sass/_sys_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 35, ../Sass/_sys_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 56, ../Sass/_sys_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 69, ../Sass/_sys_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 79, ../Sass/_sys_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 91, ../Sass/_sys_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 99, ../Sass/_sys_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 111, ../Sass/_sys_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 119, ../Sass/_sys_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 128, ../Sass/_sys_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 137, ../Sass/_sys_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 146, ../Sass/_sys_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 155, ../Sass/_sys_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 163, ../Sass/_sys_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 171, ../Sass/_sys_normalize.scss */
sup {
  top: -0.5em;
}

/* line 175, ../Sass/_sys_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 186, ../Sass/_sys_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 194, ../Sass/_sys_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 205, ../Sass/_sys_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 213, ../Sass/_sys_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 223, ../Sass/_sys_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 231, ../Sass/_sys_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 254, ../Sass/_sys_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 268, ../Sass/_sys_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 279, ../Sass/_sys_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 292, ../Sass/_sys_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 304, ../Sass/_sys_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 313, ../Sass/_sys_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 324, ../Sass/_sys_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 336, ../Sass/_sys_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 348, ../Sass/_sys_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 359, ../Sass/_sys_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 372, ../Sass/_sys_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 381, ../Sass/_sys_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 392, ../Sass/_sys_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 401, ../Sass/_sys_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 410, ../Sass/_sys_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 421, ../Sass/_sys_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 426, ../Sass/_sys_normalize.scss */
td,
th {
  padding: 0;
}

/*
	type 0 模組
	type 1 分割
	type 2 頁籤
	type 3 單攔
	type 4 清單
*/
/* line 3, ../Sass/_base_layout.scss */
.sys-root {
  padding: 20px;
}
/* line 6, ../Sass/_base_layout.scss */
.sys-root > .inner {
  font-size: 0.9em;
  font-family: "微軟正黑體", Arial, "Helvetica Neue", Helvetica, sans-serif, "新細明體";
  color: #353535;
}
/* line 31, ../Sass/_base_layout.scss */
.sys-root a {
  color: #919191;
  text-decoration: none;
}
/* line 35, ../Sass/_base_layout.scss */
.sys-root a:link {
  color: inherit;
}
/* line 39, ../Sass/_base_layout.scss */
.sys-root a:visited {
  color: inherit;
}
/* line 43, ../Sass/_base_layout.scss */
.sys-root a:hover {
  color: #919191;
}
/* line 47, ../Sass/_base_layout.scss */
.sys-root a:active {
  color: inherit;
}
/* line 54, ../Sass/_base_layout.scss */
.sys-root i.mark {
  font-style: normal;
}
/* line 89, ../Sass/_base_layout.scss */
.sys-root label {
  cursor: pointer;
  padding-left: 6px;
}
/* line 98, ../Sass/_base_layout.scss */
.sys-root .base-wrapper > .inner {
  margin: 0;
}
/* line 134, ../Sass/_base_layout.scss */
.sys-root .base-content {
  background-image: url('../Images/body_bg.png?1444550612');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 460px;
  background-color: #f2f2f2;
  background-position: center bottom;
}
/* line 144, ../Sass/_base_layout.scss */
.sys-root .base-content.is-error {
  background-image: url('../Images/is-error.png?1443777242');
  background-repeat: no-repeat;
  background-position: center;
}
/* line 148, ../Sass/_base_layout.scss */
.sys-root .base-content > .inner {
  padding: 20px;
}
/* line 184, ../Sass/_base_layout.scss */
.sys-root .base-footer {
  padding-top: 30px;
}

/* line 83, ../Sass/_group_list.scss */
div.group-list-obj > .inner > .header h3 {
  display: none;
}
/* line 98, ../Sass/_group_list.scss */
div.group-list-obj > .inner > .content:before {
  content: attr(data-status);
  display: block;
  margin-bottom: 6px;
  text-align: center;
  color: #c02;
}
/* line 108, ../Sass/_group_list.scss */
div.group-list-obj > .inner > .content > .inner:before {
  content: attr(data-status);
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: #c02;
}
/* line 119, ../Sass/_group_list.scss */
div.group-list-obj > .inner > .content > .inner > ul > li {
  width: 20%;
  float: left;
}
/* line 125, ../Sass/_group_list.scss */
div.group-list-obj > .inner > .content > .inner > ul > li:nth-child(5n+1) {
  clear: left;
}
/* line 129, ../Sass/_group_list.scss */
div.group-list-obj > .inner > .content > .inner > ul > li:nth-child(n+6) {
  margin-top: 20px;
}

/* line 65, ../Sass/_module_area-form.scss */
.area-form.update-form {
  float: left;
}
/* line 80, ../Sass/_module_area-form.scss */
.area-form.update-form.is-open .content .form .fieldset + .fieldset {
  display: block;
}
/* line 118, ../Sass/_module_area-form.scss */
.area-form.update-form .content .form .fieldset {
  padding: 6px 10px;
}
/* line 123, ../Sass/_module_area-form.scss */
.area-form.update-form .content .form .fieldset:first-child .legend {
  display: none;
}
/* line 128, ../Sass/_module_area-form.scss */
.area-form.update-form .content .form .fieldset + .fieldset {
  display: none;
  padding-left: 30px;
}
/* line 134, ../Sass/_module_area-form.scss */
.area-form.update-form .content .form .legend {
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
}
/* line 164, ../Sass/_module_area-form.scss */
.area-form.update-form .content .form span.radio + .radio {
  margin-left: 6px;
}
/* line 169, ../Sass/_module_area-form.scss */
.area-form.update-form .content .form span.is-alert {
  color: #c02;
}
/* line 180, ../Sass/_module_area-form.scss */
.area-form.update-form .content .form input[type="button"] {
  height: 35px;
}
/* line 184, ../Sass/_module_area-form.scss */
.area-form.update-form .content .form input[type="range"] {
  width: 300px;
}

/* line 65, ../Sass/_module_area-figure.scss */
.area-figure.obj {
  position: relative;
  margin: 0 10px;
  border-radius: 2px;
}
/* line 73, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-clone {
  position: absolute;
  opacity: 0.5;
  margin: 0;
}
/* line 80, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-clone .content .list {
  display: none !important;
}
/* line 89, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-clone .footer li.remove {
  display: none;
}
/* line 93, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-clone .footer li.move {
  display: none;
}
/* line 102, ../Sass/_module_area-figure.scss */
.area-figure.obj:hover > .inner {
  border-color: #00a0e9;
}
/* line 110, ../Sass/_module_area-figure.scss */
.area-figure.obj:hover .footer li.move {
  display: block;
}
/* line 123, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-success .footer li.remove {
  display: block;
}
/* line 132, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed:before {
  content: "​";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.8);
  background-image: url('../Images/failed.png?1442296938');
  background-position: center;
  background-repeat: no-repeat;
}
/* line 148, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed:hover:before {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}
/* line 155, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed:hover > .inner {
  border-color: #e3697d;
}
/* line 164, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed .footer li.move {
  display: none;
}
/* line 168, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed .footer li.remove {
  display: block;
}
/* line 177, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed-Size:before {
  content: "​";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.8);
  background-image: url('../Images/is-failed-Size.png?1443692173');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
/* line 194, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed-Size:hover:before {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}
/* line 201, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed-Size:hover > .inner {
  border-color: #e3697d;
}
/* line 210, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed-Size .footer li.move {
  display: none;
}
/* line 214, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed-Size .footer li.remove {
  display: block;
}
/* line 223, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-timeout:before {
  content: "​";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.8);
  background-image: url('../Images/is-timeout.png?1443692049');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
/* line 240, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-timeout:hover:before {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}
/* line 247, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-timeout:hover > .inner {
  border-color: #e3697d;
}
/* line 256, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-timeout .footer li.move {
  display: none;
}
/* line 260, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-timeout .footer li.remove {
  display: block;
}
/* line 269, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed-Type:before {
  content: "​";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.8);
  background-image: url('../Images/is-failed-Type.png?1443692064');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
/* line 286, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed-Type:hover:before {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}
/* line 293, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed-Type:hover > .inner {
  border-color: #e3697d;
}
/* line 302, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed-Type .footer li.move {
  display: none;
}
/* line 306, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-failed-Type .footer li.remove {
  display: block;
}
/* line 315, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-converting:before {
  content: "​";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.8);
  background-image: url('../Images/ajaxLoadingIcon.gif?1473301940');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
/* line 332, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-converting:hover:before {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}
/* line 339, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-converting:hover > .inner {
  border-color: #e3697d;
}
/* line 348, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-converting .footer li.move {
  display: none;
}
/* line 352, ../Sass/_module_area-figure.scss */
.area-figure.obj.is-converting .footer li.remove {
  display: block;
}
/* line 359, ../Sass/_module_area-figure.scss */
.area-figure.obj > .inner {
  background-color: #ffffff;
  border: 2px solid transparent;
}
/* line 364, ../Sass/_module_area-figure.scss */
.area-figure.obj .header {
  display: none;
}
/* line 390, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .list {
  display: none;
}
/* line 393, ../Sass/_module_area-figure.scss */
.is-drop .area-figure.obj .content .list {
  display: block;
}
/* line 401, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .list li {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: #1a1a1a;
  opacity: .01;
}
/* line 410, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .list li.is-hover {
  opacity: 0.5;
}
/* line 414, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .list li.after {
  left: 100%;
}
/* line 418, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .list li.before {
  right: 100%;
}
/* line 424, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .image {
  background-color: #919191;
  padding: 10px 0;
}
/* line 428, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .image span {
  position: relative;
  display: block;
  height: 100px;
  background-size: contain;
  background-image: url('../Images/update.png?1442893180');
}
/* line 437, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .image a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 446, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .image img {
  display: none;
}
/* line 451, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .mark {
  display: block;
  background-color: #f2f2f2;
  border-radius: 2px;
  margin: 0 2px;
}
/* line 459, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .mark span {
  width: 1%;
  display: block;
  height: 14px;
  background-color: #44e3d2;
  border-radius: 2px;
}
/* line 469, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .caption {
  display: block;
  padding: 2px;
  margin: 2px 10px;
  font-size: 1.1em;
}
/* line 476, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .caption:focus {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  box-shadow: 0 0 5px #919191 inset;
  border-color: #353535;
}
/* line 483, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .paragraph {
  margin: 2px 10px;
}
/* line 486, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .paragraph p {
  display: block;
  padding: 2px;
  margin: 0;
  font-size: 1.1em;
}
/* line 493, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .paragraph p:focus {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  box-shadow: 0 0 5px #919191 inset;
  border-color: #353535;
}
/* line 501, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .label {
  margin: 2px 10px;
}
/* line 508, ../Sass/_module_area-figure.scss */
.area-figure.obj .content .label li {
  padding: 2px;
  color: #44e3d2;
  font-size: 0.9em;
}
/* line 526, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer ul {
  text-align: right;
}
/* line 533, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.remove {
  display: none;
  position: absolute;
  top: -10.5px;
  right: -10.5px;
  z-index: 1;
}
/* line 545, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.remove span {
  display: block;
}
/* line 549, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.remove a {
  width: 21px;
  height: 21px;
  background-image: url('../Images/icon-pic/remove.png?1442304922');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-color: #e3697d;
  border-radius: 50%;
}
/* line 556, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.remove a:hover {
  background-color: #db3e58;
}
/* line 562, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.move {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}
/* line 575, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.move span {
  display: inline-block;
  vertical-align: top;
}
/* line 580, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.move a {
  width: 72px;
  height: 24px;
  background-image: url('../Images/icon-pic/drop.png?1438911065');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-color: #007db6;
  cursor: move;
}
/* line 587, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.move a:hover {
  background-color: #005a83;
}
/* line 593, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.resize {
  display: inline-block;
}
/* line 601, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.resize span {
  display: block;
}
/* line 605, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.resize a {
  width: 15px;
  height: 14px;
  background-image: url('../Images/icon-pic/resize.png?1441852124');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding: 10px;
}
/* line 614, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.resize:hover a {
  background-image: url('../Images/icon-pic/resizeactive.png?1441871632');
  background-color: #f2f2f2;
}
/* line 621, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.dowload {
  display: inline-block;
}
/* line 629, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.dowload span {
  display: block;
}
/* line 633, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.dowload a {
  width: 15px;
  height: 14px;
  background-image: url('../Images/icon-pic/dowload.png?1443751161');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding: 10px;
}
/* line 642, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer li.dowload:hover a {
  background-image: url('../Images/icon-pic/dowloadactive.png?1443751188');
  background-color: #f2f2f2;
}
/* line 650, ../Sass/_module_area-figure.scss */
.area-figure.obj .footer span {
  display: block;
}
/* line 662, ../Sass/_module_area-figure.scss */
.area-figure.update-pic {
  display: none;
  width: 160px;
  float: left;
  padding-left: 30px;
}
/* line 668, ../Sass/_module_area-figure.scss */
.area-figure.update-pic > .inner {
  position: relative;
}
/* line 672, ../Sass/_module_area-figure.scss */
.area-figure.update-pic.is-open {
  display: block;
}
/* line 680, ../Sass/_module_area-figure.scss */
.area-figure.update-pic.is-null .image:before {
  content: "​";
  background-image: url('../Images/watermark_mask.png?1442383547');
}
/* line 685, ../Sass/_module_area-figure.scss */
.area-figure.update-pic.is-null .image + .image {
  display: none;
}
/* line 694, ../Sass/_module_area-figure.scss */
.area-figure.update-pic.is-null .footer li.remove {
  display: none;
}
/* line 709, ../Sass/_module_area-figure.scss */
.area-figure.update-pic.is-failed .image:before {
  content: "​";
  background-image: url('../Images/watermark_failed.png?1442802013');
}
/* line 714, ../Sass/_module_area-figure.scss */
.area-figure.update-pic.is-failed .image + .image {
  display: none;
}
/* line 720, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .header {
  display: none;
}
/* line 748, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .content .image:before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.8);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 762, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .content .image + .image:before {
  content: none;
}
/* line 766, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .content .image + .image span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: top right;
  background-size: 70px;
  background-repeat: no-repeat;
}
/* line 778, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .content .image + .image img {
  display: none;
}
/* line 783, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .content .image span {
  display: block;
}
/* line 787, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .content .image img {
  display: block;
  width: 100%;
}
/* line 806, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .footer li.remove {
  position: absolute;
  top: -10.5px;
  right: -10.5px;
}
/* line 816, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .footer li.remove span {
  display: block;
}
/* line 820, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .footer li.remove a {
  width: 21px;
  height: 21px;
  background-image: url('../Images/icon-pic/remove.png?1442304922');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-color: #e3697d;
  border-radius: 50%;
}
/* line 827, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .footer li.remove a:hover {
  background-color: #db3e58;
}
/* line 834, ../Sass/_module_area-figure.scss */
.area-figure.update-pic .footer span {
  display: block;
}

/*# sourceMappingURL=global.css.map */
