.iSearch
{
    background-color:#f8f5ee;
    border-style:solid;
    border-width:1px;
    border-color:#c9c7c8;
}
.content
{
            
}

.HolidayCalendar
{
    background-color:#FF6666 !important;
}

.HolidayCalendarOtherMonth
{
    background-color:#FFC !important;
}

.InARowHolidayCalendar
{
    background-color:#007ACC !important;
}