@charset "UTF-8";
/* line 102, ../sass/_variable.scss */
.breadcrumb:before, .myproject:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 232, ../sass/_variable.scss */
[data-tabtype="1"] > .container > .inner:after, .topbar .toptool ul:after, .main_menu > ul:after, .content:after, .footer_bg .footer .footer_iconlink ul:after {
  content: "​";
  display: block;
  height: 0;
  clear: both;
}

/* line 240, ../sass/_variable.scss */
.content .content_middle a.img-btn,
.content .content_middle input[type="button"].img-btn,
.content .content_middle input[type="submit"].img-btn, .topbar .toptool ul a.reset-time, .topbar .toptool ul a.guide-book, .topbar .toptool ul a.logout-btn, .footer_bg .footer .footer_iconlink ul li a {
  text-indent: -9999px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/* line 255, ../sass/_variable.scss */
.topbar .toptool ul, .main_menu > ul, ul.sub_menu {
  margin: 0;
  position: static;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

/* line 265, ../sass/_variable.scss */
.topbar .toptool ul, .main_menu > ul, ul.sub_menu {
  padding: 0;
  border: 0;
  border-radius: 0;
  list-style: none;
  background-color: transparent;
  font-size: 1em;
  font-weight: normal;
  transition: initial;
}

/* line 291, ../sass/_variable.scss */
.content .content_top, .content .content_middle, .content .content_bottom {
  display: block;
}

/* line 659, ../sass/_variable.scss */
.content .content_middle a.img-btn,
.content .content_middle input[type="button"].img-btn,
.content .content_middle input[type="submit"].img-btn, .topbar .toptool ul a.reset-time, .topbar .toptool ul a.guide-book, .topbar .toptool ul a.logout-btn, .footer_bg .footer .footer_iconlink ul li a {
  font: 0/0 a;
  color: transparent;
}

/* line 696, ../sass/_variable.scss */
body input[type="submit"],
body input[type="button"], .content .content_middle a.btn,
.content .content_middle input[type="button"].btn,
.content .content_middle input[type="submit"].btn, .content .content_middle a.edit-btn,
.content .content_middle input[type="button"].edit-btn,
.content .content_middle input[type="submit"].edit-btn, .content .content_right .data-list-inside .more {
  background-color: #11a7a7;
  display: inline-block;
  padding: 8px 15px;
  color: #ffffff;
  border: 1px solid #11a7a7;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 5px;
  transition: 150ms;
}
/* line 716, ../sass/_variable.scss */
body input[type="submit"]:visited,
body input[type="button"]:visited, .content .content_middle a.btn:visited,
.content .content_middle input[type="button"].btn:visited,
.content .content_middle input[type="submit"].btn:visited, .content .content_middle a.edit-btn:visited,
.content .content_middle input[type="button"].edit-btn:visited,
.content .content_middle input[type="submit"].edit-btn:visited, .content .content_right .data-list-inside .more:visited {
  color: #ffffff;
}
/* line 720, ../sass/_variable.scss */
body input[type="submit"]:hover,
body input[type="button"]:hover, .content .content_middle a.btn:hover,
.content .content_middle input[type="button"].btn:hover,
.content .content_middle input[type="submit"].btn:hover, .content .content_middle a.edit-btn:hover,
.content .content_middle input[type="button"].edit-btn:hover,
.content .content_middle input[type="submit"].edit-btn:hover, .content .content_right .data-list-inside .more:hover {
  background-color: #0c7979;
}
/* line 725, ../sass/_variable.scss */
body input[type="submit"]:active,
body input[type="button"]:active, .content .content_middle a.btn:active,
.content .content_middle input[type="button"].btn:active,
.content .content_middle input[type="submit"].btn:active, .content .content_middle a.edit-btn:active,
.content .content_middle input[type="button"].edit-btn:active,
.content .content_middle input[type="submit"].edit-btn:active, .content .content_right .data-list-inside .more:active {
  color: #ffffff;
}

/* line 730, ../sass/_variable.scss */
.content .content_middle #lblTitleName, .list_gotopage td a {
  background-color: #1c7ca6;
  padding: 0px 8px;
  border-radius: 3px;
  color: #ffffff !important;
  text-decoration: none;
  transition: 150ms;
}
/* line 739, ../sass/_variable.scss */
.content .content_middle #lblTitleName:hover, .list_gotopage td a:hover {
  background-color: #155b7a;
}

/* line 744, ../sass/_variable.scss */
.content .content_middle a.img-btn,
.content .content_middle input[type="button"].img-btn,
.content .content_middle input[type="submit"].img-btn {
  background-color: #9fd7ef;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  width: 28px;
  height: 28px;
  transition: 150ms;
}
/* line 753, ../sass/_variable.scss */
.content .content_middle a.img-btn:hover,
.content .content_middle input[type="button"].img-btn:hover,
.content .content_middle input[type="submit"].img-btn:hover {
  background-color: #1c7ca6;
}

/* line 776, ../sass/_variable.scss */
table.Detail-table tr, table.case-list-table tr {
  /*&:nth-child(2n),&.question_tr + tr,&.css_title + tr{
  	background-color: $light;
  }*/
}
/* line 781, ../sass/_variable.scss */
table.Detail-table tr th, table.case-list-table tr th,
table.Detail-table tr td,
table.case-list-table tr td {
  padding: 15px;
}
/* line 786, ../sass/_variable.scss */
table.Detail-table tr th a, table.case-list-table tr th a,
table.Detail-table tr td a,
table.case-list-table tr td a {
  color: inherit;
}
/* line 789, ../sass/_variable.scss */
table.Detail-table tr th a:hover, table.case-list-table tr th a:hover,
table.Detail-table tr td a:hover,
table.case-list-table tr td a:hover {
  color: #80b900;
}
/* line 795, ../sass/_variable.scss */
table.Detail-table tr th, table.case-list-table tr th {
  color: #ffffff;
}
/* line 801, ../sass/_variable.scss */
table.Detail-table tr td, table.case-list-table tr td {
  line-height: 1.6;
}

/* line 915, ../sass/_variable.scss */
.content .search-box input, .content .edit-box input {
  padding: 5px 8px;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  background-color: #ffffff;
  vertical-align: middle;
  box-sizing: border-box;
  outline: none;
}

/*
tabtype 0 模組
tabtype 1 分割
tabtype 2 頁籤
tabtype 3 單攔
*/
/* line 21, ../sass/_grid.scss */
[data-tabtype="1"][data-child="1"] > .container > .inner > .group {
  float: left;
  width: 100%;
}

/* line 21, ../sass/_grid.scss */
[data-tabtype="1"][data-child="2"] > .container > .inner > .group {
  float: left;
  width: 50%;
}

/* line 21, ../sass/_grid.scss */
[data-tabtype="1"][data-child="3"] > .container > .inner > .group {
  float: left;
  width: 33.3333333333%;
}

/* line 21, ../sass/_grid.scss */
[data-tabtype="1"][data-child="4"] > .container > .inner > .group {
  float: left;
  width: 25%;
}

/* line 21, ../sass/_grid.scss */
[data-tabtype="1"][data-child="5"] > .container > .inner > .group {
  float: left;
  width: 20%;
}

/* line 21, ../sass/_grid.scss */
[data-tabtype="1"][data-child="6"] > .container > .inner > .group {
  float: left;
  width: 16.6666666667%;
}

/* line 21, ../sass/_grid.scss */
[data-tabtype="1"][data-child="7"] > .container > .inner > .group {
  float: left;
  width: 14.2857142857%;
}

/* line 21, ../sass/_grid.scss */
[data-tabtype="1"][data-child="8"] > .container > .inner > .group {
  float: left;
  width: 12.5%;
}

/* line 21, ../sass/_grid.scss */
[data-tabtype="1"][data-child="9"] > .container > .inner > .group {
  float: left;
  width: 11.1111111111%;
}

/* line 21, ../sass/_grid.scss */
[data-tabtype="1"][data-child="10"] > .container > .inner > .group {
  float: left;
  width: 10%;
}

/* line 47, ../sass/_grid.scss */
[data-tabtype="0"] > .container {
  margin: 0 15px;
}

/* line 75, ../sass/_grid.scss */
[data-tabtype="2"] .tabs {
  margin: 15px 15px 30px;
}

@media (max-width: 560px) {
  /* line 102, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="1"] > .container > .inner > .group {
    width: 100%;
  }

  /* line 102, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="2"] > .container > .inner > .group {
    width: 100%;
  }

  /* line 102, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="3"] > .container > .inner > .group {
    width: 100%;
  }

  /* line 102, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="4"] > .container > .inner > .group {
    width: 100%;
  }

  /* line 102, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="5"] > .container > .inner > .group {
    width: 100%;
  }

  /* line 102, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="6"] > .container > .inner > .group {
    width: 100%;
  }

  /* line 102, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="7"] > .container > .inner > .group {
    width: 100%;
  }

  /* line 102, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="8"] > .container > .inner > .group {
    width: 100%;
  }

  /* line 102, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="9"] > .container > .inner > .group {
    width: 100%;
  }

  /* line 102, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="10"] > .container > .inner > .group {
    width: 100%;
  }

  /* line 112, ../sass/_grid.scss */
  [data-tabtype="0"] > .container {
    margin: 0;
  }

  /* line 130, ../sass/_grid.scss */
  [data-tabtype="2"] .tabs {
    margin: 0 0 30px;
  }
}
@media (max-width: 768px) and (min-width: 561px) {
  /* line 146, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="1"] > .container > .inner > .group {
    width: 50%;
  }
  /* line 149, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="1"] > .container > .inner > .group:nth-of-type(odd) {
    clear: left;
  }
  /* line 153, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="1"] > .container > .inner > .group .group {
    width: 100%;
  }

  /* line 146, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="2"] > .container > .inner > .group {
    width: 50%;
  }
  /* line 149, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="2"] > .container > .inner > .group:nth-of-type(odd) {
    clear: left;
  }
  /* line 153, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="2"] > .container > .inner > .group .group {
    width: 100%;
  }

  /* line 146, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="3"] > .container > .inner > .group {
    width: 50%;
  }
  /* line 149, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="3"] > .container > .inner > .group:nth-of-type(odd) {
    clear: left;
  }
  /* line 153, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="3"] > .container > .inner > .group .group {
    width: 100%;
  }

  /* line 146, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="4"] > .container > .inner > .group {
    width: 50%;
  }
  /* line 149, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="4"] > .container > .inner > .group:nth-of-type(odd) {
    clear: left;
  }
  /* line 153, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="4"] > .container > .inner > .group .group {
    width: 100%;
  }

  /* line 146, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="5"] > .container > .inner > .group {
    width: 50%;
  }
  /* line 149, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="5"] > .container > .inner > .group:nth-of-type(odd) {
    clear: left;
  }
  /* line 153, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="5"] > .container > .inner > .group .group {
    width: 100%;
  }

  /* line 146, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="6"] > .container > .inner > .group {
    width: 50%;
  }
  /* line 149, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="6"] > .container > .inner > .group:nth-of-type(odd) {
    clear: left;
  }
  /* line 153, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="6"] > .container > .inner > .group .group {
    width: 100%;
  }

  /* line 146, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="7"] > .container > .inner > .group {
    width: 50%;
  }
  /* line 149, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="7"] > .container > .inner > .group:nth-of-type(odd) {
    clear: left;
  }
  /* line 153, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="7"] > .container > .inner > .group .group {
    width: 100%;
  }

  /* line 146, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="8"] > .container > .inner > .group {
    width: 50%;
  }
  /* line 149, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="8"] > .container > .inner > .group:nth-of-type(odd) {
    clear: left;
  }
  /* line 153, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="8"] > .container > .inner > .group .group {
    width: 100%;
  }

  /* line 146, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="9"] > .container > .inner > .group {
    width: 50%;
  }
  /* line 149, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="9"] > .container > .inner > .group:nth-of-type(odd) {
    clear: left;
  }
  /* line 153, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="9"] > .container > .inner > .group .group {
    width: 100%;
  }

  /* line 146, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="10"] > .container > .inner > .group {
    width: 50%;
  }
  /* line 149, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="10"] > .container > .inner > .group:nth-of-type(odd) {
    clear: left;
  }
  /* line 153, ../sass/_grid.scss */
  [data-tabtype="1"][data-child="10"] > .container > .inner > .group .group {
    width: 100%;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../images/icon-font/icomoon.eot?59oic8");
  src: url("../images/icon-font/icomoon.eot?#iefix59oic8") format("embedded-opentype"), url("../images/icon-font/icomoon.ttf?59oic8") format("truetype"), url("../images/icon-font/icomoon.woff?59oic8") format("woff"), url("../images/icon-font/icomoon.svg?59oic8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 615, ../sass/_base-icon-font.scss */
.myproject:before {
  content: "\e253";
}

/* line 771, ../sass/_base-icon-font.scss */
.breadcrumb:before {
  content: "\e29e";
}

/* 
	請注意！本 scss 所做設定皆全域可見。
	本 sass 引入 Images 資料夾內的 icon-pic 圖示，用以作為雪碧圖示。
*/
/* line 136, icon-pic/*.png */
.icon-pic-sprite, .icon-pic-chart-btn-w, .content .content_middle a.img-btn.chart:hover,
.content .content_middle input[type="button"].img-btn.chart:hover,
.content .content_middle input[type="submit"].img-btn.chart:hover, .icon-pic-chart-btn, .content .content_middle a.img-btn.chart,
.content .content_middle input[type="button"].img-btn.chart,
.content .content_middle input[type="submit"].img-btn.chart, .icon-pic-clock-btn-w, .content .content_middle a.img-btn.clock:hover,
.content .content_middle input[type="button"].img-btn.clock:hover,
.content .content_middle input[type="submit"].img-btn.clock:hover, .icon-pic-clock-btn, .content .content_middle a.img-btn.clock,
.content .content_middle input[type="button"].img-btn.clock,
.content .content_middle input[type="submit"].img-btn.clock, .icon-pic-copy-btn-w, .content .content_middle a.img-btn.copy:hover,
.content .content_middle input[type="button"].img-btn.copy:hover,
.content .content_middle input[type="submit"].img-btn.copy:hover, .icon-pic-copy-btn, .content .content_middle a.img-btn.copy,
.content .content_middle input[type="button"].img-btn.copy,
.content .content_middle input[type="submit"].img-btn.copy, .icon-pic-delete-btn-w, .content .content_middle a.img-btn.del:hover,
.content .content_middle input[type="button"].img-btn.del:hover,
.content .content_middle input[type="submit"].img-btn.del:hover, .icon-pic-delete-btn, .content .content_middle a.img-btn.del,
.content .content_middle input[type="button"].img-btn.del,
.content .content_middle input[type="submit"].img-btn.del, .icon-pic-edit-btn-w, .content .content_middle a.img-btn.edit:hover,
.content .content_middle input[type="button"].img-btn.edit:hover,
.content .content_middle input[type="submit"].img-btn.edit:hover, .icon-pic-edit-btn, .content .content_middle a.img-btn.edit,
.content .content_middle input[type="button"].img-btn.edit,
.content .content_middle input[type="submit"].img-btn.edit, .icon-pic-ques-btn-w, .content .content_middle a.img-btn.ques:hover,
.content .content_middle input[type="button"].img-btn.ques:hover,
.content .content_middle input[type="submit"].img-btn.ques:hover, .icon-pic-ques-btn, .content .content_middle a.img-btn.ques,
.content .content_middle input[type="button"].img-btn.ques,
.content .content_middle input[type="submit"].img-btn.ques {
  background-image: url('../images/icon-pic-sdfa9f1d6ec.png');
  background-repeat: no-repeat;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-chart-btn-w, .content .content_middle a.img-btn.chart:hover,
.content .content_middle input[type="button"].img-btn.chart:hover,
.content .content_middle input[type="submit"].img-btn.chart:hover {
  background-position: 0 0;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-chart-btn, .content .content_middle a.img-btn.chart,
.content .content_middle input[type="button"].img-btn.chart,
.content .content_middle input[type="submit"].img-btn.chart {
  background-position: 0 -24px;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-clock-btn-w, .content .content_middle a.img-btn.clock:hover,
.content .content_middle input[type="button"].img-btn.clock:hover,
.content .content_middle input[type="submit"].img-btn.clock:hover {
  background-position: 0 -48px;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-clock-btn, .content .content_middle a.img-btn.clock,
.content .content_middle input[type="button"].img-btn.clock,
.content .content_middle input[type="submit"].img-btn.clock {
  background-position: 0 -72px;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-copy-btn-w, .content .content_middle a.img-btn.copy:hover,
.content .content_middle input[type="button"].img-btn.copy:hover,
.content .content_middle input[type="submit"].img-btn.copy:hover {
  background-position: 0 -96px;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-copy-btn, .content .content_middle a.img-btn.copy,
.content .content_middle input[type="button"].img-btn.copy,
.content .content_middle input[type="submit"].img-btn.copy {
  background-position: 0 -120px;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-delete-btn-w, .content .content_middle a.img-btn.del:hover,
.content .content_middle input[type="button"].img-btn.del:hover,
.content .content_middle input[type="submit"].img-btn.del:hover {
  background-position: 0 -144px;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-delete-btn, .content .content_middle a.img-btn.del,
.content .content_middle input[type="button"].img-btn.del,
.content .content_middle input[type="submit"].img-btn.del {
  background-position: 0 -168px;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-edit-btn-w, .content .content_middle a.img-btn.edit:hover,
.content .content_middle input[type="button"].img-btn.edit:hover,
.content .content_middle input[type="submit"].img-btn.edit:hover {
  background-position: 0 -192px;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-edit-btn, .content .content_middle a.img-btn.edit,
.content .content_middle input[type="button"].img-btn.edit,
.content .content_middle input[type="submit"].img-btn.edit {
  background-position: 0 -216px;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-ques-btn-w, .content .content_middle a.img-btn.ques:hover,
.content .content_middle input[type="button"].img-btn.ques:hover,
.content .content_middle input[type="submit"].img-btn.ques:hover {
  background-position: 0 -240px;
}

/* line 84, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-ques-btn, .content .content_middle a.img-btn.ques,
.content .content_middle input[type="button"].img-btn.ques,
.content .content_middle input[type="submit"].img-btn.ques {
  background-position: 0 -264px;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 11, ../sass/compass/_reset.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 21, ../sass/compass/_reset.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 35, ../sass/compass/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 56, ../sass/compass/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 69, ../sass/compass/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 79, ../sass/compass/_reset.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 91, ../sass/compass/_reset.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 99, ../sass/compass/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 111, ../sass/compass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 119, ../sass/compass/_reset.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 128, ../sass/compass/_reset.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 137, ../sass/compass/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 146, ../sass/compass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 155, ../sass/compass/_reset.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 163, ../sass/compass/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 171, ../sass/compass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 175, ../sass/compass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 186, ../sass/compass/_reset.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 194, ../sass/compass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 205, ../sass/compass/_reset.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 213, ../sass/compass/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 223, ../sass/compass/_reset.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 231, ../sass/compass/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 254, ../sass/compass/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 268, ../sass/compass/_reset.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 279, ../sass/compass/_reset.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 292, ../sass/compass/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 304, ../sass/compass/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 313, ../sass/compass/_reset.scss */
button:-moz-focus-inner,
input:-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 324, ../sass/compass/_reset.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 336, ../sass/compass/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 348, ../sass/compass/_reset.scss */
input[type="number"]:-webkit-inner-spin-button,
input[type="number"]:-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 359, ../sass/compass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 372, ../sass/compass/_reset.scss */
input[type="search"]:-webkit-search-cancel-button,
input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 381, ../sass/compass/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 392, ../sass/compass/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 401, ../sass/compass/_reset.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 410, ../sass/compass/_reset.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 421, ../sass/compass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 426, ../sass/compass/_reset.scss */
td,
th {
  padding: 0;
}

/* line 433, ../sass/compass/_reset.scss */
form {
  margin-block-end: inherit;
}

/* line 2, ../sass/_layout.scss */
body {
  font-size: 1em;
  font-family: Helvetica, "微軟正黑體", "Microsoft JhengHei", sans-serif, "新細明體", "Segoe UI";
  color: #1a1a1a;
}
/* line 10, ../sass/_layout.scss */
body input:focus {
  border: 2px dashed #1c7ca6;
}
/* line 15, ../sass/_layout.scss */
body input[type="submit"],
body input[type="button"] {
  line-height: 15px !important;
}
/* line 22, ../sass/_layout.scss */
body input[type="text"],
body input[type="email"],
body input[type="number"],
body input[type="password"],
body select {
  border: 1px solid #a1a1a1;
  padding: 8px;
  border-radius: 3px;
}

/* line 42, ../sass/_layout.scss */
.header {
  background: linear-gradient(to right, #1c7ca6, #11a7a7);
}

/* line 46, ../sass/_layout.scss */
.breadcrumb {
  text-align: right;
  padding: 20px 0;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 15px;
}
/* line 52, ../sass/_layout.scss */
.breadcrumb:before {
  font-size: inherit;
  color: inherit;
  margin-right: 5px;
}

/* line 58, ../sass/_layout.scss */
.topbar {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* line 63, ../sass/_layout.scss */
.topbar h1 {
  margin: 0;
}
/* line 66, ../sass/_layout.scss */
.topbar h1 a {
  position: relative;
  width: 450px;
  height: 80px;
  background-image: url('../images/logo.png?1634183617');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-size: contain;
  z-index: 3;
  padding: 30px 0 0 0;
}
/* line 79, ../sass/_layout.scss */
.topbar .toptool {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
/* line 95, ../sass/_layout.scss */
.topbar .toptool ul li {
  float: left;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 50px;
  min-height: 42px;
  margin-left: 8px;
}
/* line 105, ../sass/_layout.scss */
.topbar .toptool ul li.time-counter {
  padding: 5px 15px;
  color: #1c7ca6;
  font-weight: 700;
}
/* line 110, ../sass/_layout.scss */
.topbar .toptool ul li.time-counter span {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
/* line 120, ../sass/_layout.scss */
.topbar .toptool ul a {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
}
/* line 125, ../sass/_layout.scss */
.topbar .toptool ul a.reset-time {
  background-image: url("/images/icon/icon-redo.png");
  width: calc( 42px - 10px);
  height: calc( 42px - 10px);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  background-color: #d8d8d8;
  border-radius: 50px;
  transition: 150ms;
}
/* line 139, ../sass/_layout.scss */
.topbar .toptool ul a.reset-time:hover {
  background-color: transparent;
}
/* line 144, ../sass/_layout.scss */
.topbar .toptool ul a.guide-book, .topbar .toptool ul a.logout-btn {
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 150ms;
  border: 1px solid transparent;
}
/* line 154, ../sass/_layout.scss */
.topbar .toptool ul a.guide-book:hover, .topbar .toptool ul a.logout-btn:hover {
  background-color: #1c7ca6;
  border-color: #ffffff;
  border-radius: 50px;
}
/* line 161, ../sass/_layout.scss */
.topbar .toptool ul a.guide-book {
  background-image: url("/images/icon/icon-book.png");
}
/* line 163, ../sass/_layout.scss */
.topbar .toptool ul a.guide-book:hover {
  background-image: url("/images/icon/icon-book-w.png");
}
/* line 168, ../sass/_layout.scss */
.topbar .toptool ul a.logout-btn {
  background-image: url("/images/icon/icon-signout.png");
}
/* line 170, ../sass/_layout.scss */
.topbar .toptool ul a.logout-btn:hover {
  background-image: url("/images/icon/icon-signout-w.png");
}

/* line 179, ../sass/_layout.scss */
.main_menu {
  background-color: #2edcdc;
  position: relative;
  margin: 0 auto;
}
/* line 184, ../sass/_layout.scss */
.main_menu:after {
  content: "";
  background: url('../images/menu_shadow.png?1633584358') repeat-x;
  height: 10px;
  width: 100%;
  display: block;
  position: absolute;
}
/* line 193, ../sass/_layout.scss */
.main_menu > ul {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 203, ../sass/_layout.scss */
.main_menu > ul > li {
  float: left;
  width: 12.5%;
  box-sizing: border-box;
  position: relative;
}
/* line 209, ../sass/_layout.scss */
.main_menu > ul > li select {
  padding: 6px;
  border-radius: 50px;
  vertical-align: middle;
}
/* line 215, ../sass/_layout.scss */
.main_menu > ul > li:last-child {
  width: auto;
  padding: 10px;
  float: right;
}
/* line 220, ../sass/_layout.scss */
.main_menu > ul > li:last-child:before {
  content: "歡迎光臨，";
  display: inline-block;
  vertical-align: middle;
}
/* line 226, ../sass/_layout.scss */
.main_menu > ul > li:last-child a {
  display: inline-block;
}
/* line 231, ../sass/_layout.scss */
.main_menu > ul > li > a {
  position: relative;
  font-size: 1.1em;
  font-weight: 700;
  display: block;
  color: #343434;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
}
/* line 241, ../sass/_layout.scss */
.main_menu > ul > li > a::after {
  content: "​";
  position: absolute;
  height: 3px;
  width: 0%;
  left: 50%;
  bottom: 0;
  background-color: #ffffff;
  transition: 150ms ease-in;
}
/* line 255, ../sass/_layout.scss */
.main_menu > ul > li > a:hover::after, .main_menu > ul > li > a.is-active::after {
  left: 0;
  width: 100%;
}
/* line 264, ../sass/_layout.scss */
.main_menu > ul > li.sfHover > a::after {
  left: 0;
  width: 100%;
}

/* line 274, ../sass/_layout.scss */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  min-height: 856px;
  background-color: #f2f2f2;
  padding-bottom: 200px;
}
/* line 286, ../sass/_layout.scss */
.wrapper.banner {
  max-width: 100%;
}

/* line 291, ../sass/_layout.scss */
table.Detail-table {
  font-size: 16px !important;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 10px 0 0 0;
  border: 1px solid #d6d6d6;
}
/* line 301, ../sass/_layout.scss */
table.Detail-table tbody tr {
  padding: 5px 8px;
}
/* line 303, ../sass/_layout.scss */
table.Detail-table tbody tr.is-active {
  background-color: #fee8e5;
}
/* line 305, ../sass/_layout.scss */
table.Detail-table tbody tr.is-active .dead-line {
  color: #e2556e;
}
/* line 310, ../sass/_layout.scss */
table.Detail-table tbody tr .td-title {
  background-color: #f3fdfd;
  color: #1c7ca6;
  font-family: "微軟正黑體";
  border: 1px dotted #d8d8d8;
  border-top: 0;
  font-weight: 700;
}
/* line 322, ../sass/_layout.scss */
table.Detail-table tbody tr .td-title span {
  color: #1a1a1a;
}
/* line 324, ../sass/_layout.scss */
table.Detail-table tbody tr .td-title span.red01 {
  color: red;
}
/* line 328, ../sass/_layout.scss */
table.Detail-table tbody tr .td-title + .td-title {
  border-left: 1px dotted #d8d8d8;
}
/* line 333, ../sass/_layout.scss */
table.Detail-table tbody tr td {
  border-bottom: 1px dotted #d8d8d8;
}
/* line 336, ../sass/_layout.scss */
table.Detail-table tbody tr td span {
  line-height: 2.25em;
}
/* line 340, ../sass/_layout.scss */
table.Detail-table tbody tr td table {
  background-color: #f0f0f0;
}
/* line 345, ../sass/_layout.scss */
table.Detail-table tbody tr td table tbody tr td {
  border-bottom: 0px;
  padding: 5px;
}
/* line 353, ../sass/_layout.scss */
table.Detail-table tbody tr td i {
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 3px;
}
/* line 357, ../sass/_layout.scss */
table.Detail-table tbody tr td i.receipt {
  background-color: #1c7ca6;
}
/* line 360, ../sass/_layout.scss */
table.Detail-table tbody tr td i.carried {
  background-color: #11a7a7;
}
/* line 363, ../sass/_layout.scss */
table.Detail-table tbody tr td i.view {
  background-color: #2edcdc;
}
/* line 366, ../sass/_layout.scss */
table.Detail-table tbody tr td i.fork {
  background-color: #2edcdc;
}
/* line 389, ../sass/_layout.scss */
table.Detail-table select {
  padding: 6px;
}

/* line 394, ../sass/_layout.scss */
.Detail-table-title {
  background-color: #1c7ca6;
  margin-bottom: -10px;
  font-size: 1.1em;
  padding: 8px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  font-weight: 700;
  color: #ffffff;
}

/* line 415, ../sass/_layout.scss */
.content {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 15px;
  height: auto;
}
/* line 430, ../sass/_layout.scss */
.content .blockset.column1 .fieldset {
  width: 100%;
}
/* line 435, ../sass/_layout.scss */
.content .blockset.column2 .fieldset {
  width: 50%;
}
/* line 439, ../sass/_layout.scss */
.content .blockset.a-right {
  text-align: right;
}
/* line 442, ../sass/_layout.scss */
.content .blockset.a-left {
  text-align: left;
}
/* line 446, ../sass/_layout.scss */
.content .fieldset {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px -2px 0 0;
}
/* line 454, ../sass/_layout.scss */
.content .search-title {
  display: inline-block;
  width: 130px;
  text-align: right;
  padding-right: 5px;
}
/* line 459, ../sass/_layout.scss */
.content .search-title.content-title {
  float: left;
}
/* line 463, ../sass/_layout.scss */
.content .section {
  word-wrap: break-word;
  overflow: hidden;
}
/* line 468, ../sass/_layout.scss */
.content .advanced-box {
  background-color: #f2f2f2;
  padding: 10px 20px 15px 20px;
  margin-top: 10px;
}
/* line 475, ../sass/_layout.scss */
.content .upload_list {
  display: inline-block;
}
/* line 477, ../sass/_layout.scss */
.content .upload_list li {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 3px 5px;
  box-sizing: border-box;
  background-color: #e7e7e7;
}
/* line 483, ../sass/_layout.scss */
.content .upload_list li a {
  color: #555;
}
/* line 485, ../sass/_layout.scss */
.content .upload_list li a:hover {
  text-decoration: underline;
}
/* line 493, ../sass/_layout.scss */
.content .content_tab {
  padding: 10px;
  text-align: left;
}
/* line 496, ../sass/_layout.scss */
.content .content_tab a {
  border: 1px solid #1c7ca6;
  color: #343434;
  padding: 5px 8px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #fbf5eb;
}
/* line 507, ../sass/_layout.scss */
.content .search-box {
  position: relative;
  margin-bottom: 15px;
  line-height: 2;
}
/* line 511, ../sass/_layout.scss */
.content .search-box td {
  padding: 5px;
}
/* line 516, ../sass/_layout.scss */
.content .search-box span.search {
  display: block;
  width: 200px;
}
/* line 519, ../sass/_layout.scss */
.content .search-box span.search input {
  display: block;
  width: 100%;
}
/* line 525, ../sass/_layout.scss */
.content .search-box select {
  line-height: 30px;
  height: 30px;
  padding: 5px 10px;
  border-color: #ccc;
}
/* line 532, ../sass/_layout.scss */
.content .search-box input {
  line-height: 18px;
}
/* line 535, ../sass/_layout.scss */
.content .search-box input[type="search"] {
  line-height: 25px;
}
/* line 538, ../sass/_layout.scss */
.content .search-box input[type="date"] {
  line-height: 25px;
}
/* line 541, ../sass/_layout.scss */
.content .search-box input[type="submit"] {
  line-height: 25px;
}
/* line 545, ../sass/_layout.scss */
.content .search-box input.search-btn {
  border: none;
  position: absolute;
  right: 15px;
  top: -14px;
  font-size: 0 !important;
  background: url('../images/icon-search') no-repeat center;
}
/* line 557, ../sass/_layout.scss */
.content .edit-box {
  position: relative;
  padding: 5px;
  margin-bottom: 15px;
  line-height: 2;
}
/* line 562, ../sass/_layout.scss */
.content .edit-box td {
  padding: 5px;
}
/* line 576, ../sass/_layout.scss */
.content .edit-box select {
  line-height: 30px;
  height: 38px;
  padding: 5px 10px;
  border-color: #ccc;
}
/* line 583, ../sass/_layout.scss */
.content .edit-box h4 {
  background-color: #d8d8d8;
  color: #343434;
  padding: 0 10px;
  font-size: 1.1em;
  border-radius: 3px;
}
/* line 590, ../sass/_layout.scss */
.content .edit-box > .advanced-box {
  padding: 15px 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #cececc;
  margin-top: 0;
}
/* line 596, ../sass/_layout.scss */
.content .edit-box input {
  line-height: 15px;
}
/* line 599, ../sass/_layout.scss */
.content .edit-box input[type="search"] {
  line-height: 25px;
}
/* line 602, ../sass/_layout.scss */
.content .edit-box input[type="date"] {
  line-height: 25px;
}
/* line 605, ../sass/_layout.scss */
.content .edit-box input[type="submit"] {
  line-height: 25px;
}
/* line 610, ../sass/_layout.scss */
.content .edit-box .edit-btn {
  border: none;
  position: absolute;
  right: 15px;
  top: 16px;
  font-size: 0 !important;
  border: none !important;
  background: url('../images/list-open.png?1633584357') no-repeat center !important;
}
/* line 618, ../sass/_layout.scss */
.content .edit-box .edit-btn.is-active {
  background: url('../images/list-close.png?1633584357') no-repeat center !important;
}
/* line 633, ../sass/_layout.scss */
.content .content_middle {
  width: 100%;
  float: left;
  position: relative;
}
/* line 640, ../sass/_layout.scss */
.content .content_middle ul.sitemap {
  line-height: 1.6;
}
/* line 645, ../sass/_layout.scss */
.content .content_middle #lblTitleName {
  background-color: #1c7ca6;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}
/* line 651, ../sass/_layout.scss */
.content .content_middle #lblTitleName:hover {
  background-color: #208cbc;
}
/* line 656, ../sass/_layout.scss */
.content .content_middle .case-title {
  font-size: 1.4em;
  color: #1c7ca6;
  font-weight: 700;
  padding: 15px;
  padding-left: 0;
  position: absolute;
  top: 0;
}
/* line 668, ../sass/_layout.scss */
.content .content_middle .funtion-bar {
  margin: 15px;
  text-align: right;
}
/* line 673, ../sass/_layout.scss */
.content .content_middle a,
.content .content_middle input[type="button"],
.content .content_middle input[type="submit"] {
  text-decoration: none;
  display: inline-block;
  margin: 5px 0;
}
/* line 693, ../sass/_layout.scss */
.content .content_middle a.edit-btn,
.content .content_middle input[type="button"].edit-btn,
.content .content_middle input[type="submit"].edit-btn {
  background-color: #ffffff;
  color: #1a1a1a !important;
}
/* line 698, ../sass/_layout.scss */
.content .content_middle a.edit-btn:hover,
.content .content_middle input[type="button"].edit-btn:hover,
.content .content_middle input[type="submit"].edit-btn:hover {
  background-color: #bff8f8;
}
/* line 709, ../sass/_layout.scss */
.content .content_middle a.img-btn,
.content .content_middle input[type="button"].img-btn,
.content .content_middle input[type="submit"].img-btn {
  padding: 0;
}
/* line 771, ../sass/_layout.scss */
.content .content_right {
  width: 235px;
  overflow: hidden;
  display: inline-block;
}
/* line 776, ../sass/_layout.scss */
.content .content_right .data-list {
  min-height: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: hidden;
  border: 1px solid #ccc;
}
/* line 783, ../sass/_layout.scss */
.content .content_right .data-list h4 {
  background-color: #50c0e4;
  color: #ffffff;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 791, ../sass/_layout.scss */
.content .content_right .data-list ul li {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}
/* line 797, ../sass/_layout.scss */
.content .content_right .data-list-inside {
  min-height: 235px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: hidden;
  border: 1px solid #ccc;
  font-size: 14px;
}
/* line 805, ../sass/_layout.scss */
.content .content_right .data-list-inside h4 {
  background-color: #86c351;
  color: #ffffff;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 813, ../sass/_layout.scss */
.content .content_right .data-list-inside ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 816, ../sass/_layout.scss */
.content .content_right .data-list-inside ul li .green-date {
  padding: 5px 0;
  color: #86c351;
  font-size: 13px;
}
/* line 821, ../sass/_layout.scss */
.content .content_right .data-list-inside ul li p {
  font-size: 14px;
}
/* line 826, ../sass/_layout.scss */
.content .content_right .data-list-inside .more {
  font-size: 1em;
  padding: 5px 8px;
  float: right;
  background-color: #6da73a;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}
/* line 842, ../sass/_layout.scss */
.content .accesskey_l,
.content .accesskey_c,
.content .accesskey_r {
  display: block;
}
/* line 847, ../sass/_layout.scss */
.content .accesskey_l a,
.content .accesskey_c a,
.content .accesskey_r a {
  display: block;
}
/* line 849, ../sass/_layout.scss */
.content .accesskey_l a span,
.content .accesskey_c a span,
.content .accesskey_r a span {
  display: block;
  height: 1px;
  overflow: hidden;
}

/* line 859, ../sass/_layout.scss */
.set-table td {
  line-height: 190%;
  background-color: #fbfbfb;
}
/* line 864, ../sass/_layout.scss */
.set-table td tr:first-child td {
  background-color: #efefef;
}
/* line 870, ../sass/_layout.scss */
.set-table td table td {
  background-color: #ffffff;
}
/* line 873, ../sass/_layout.scss */
.set-table td table td .rdbAuthType td {
  background-color: #ffffff !important;
}

/* line 882, ../sass/_layout.scss */
.footer_bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #343434;
}
/* line 896, ../sass/_layout.scss */
.footer_bg .footer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: #ffffff;
}
/* line 904, ../sass/_layout.scss */
.footer_bg .footer > a {
  display: block;
  height: 1px;
  overflow: hidden;
}
/* line 909, ../sass/_layout.scss */
.footer_bg .footer .footer_link {
  margin: 10px;
}
/* line 913, ../sass/_layout.scss */
.footer_bg .footer .footer_link ul li {
  display: inline;
  vertical-align: middle;
}
/* line 916, ../sass/_layout.scss */
.footer_bg .footer .footer_link ul li + li {
  border-left: 1px solid #1c7ca6;
}
/* line 918, ../sass/_layout.scss */
.footer_bg .footer .footer_link ul li + li a {
  margin-left: 8px;
}
/* line 922, ../sass/_layout.scss */
.footer_bg .footer .footer_link ul li a {
  margin-right: 8px;
  color: #1c7ca6;
}
/* line 925, ../sass/_layout.scss */
.footer_bg .footer .footer_link ul li a:hover {
  color: #80b900;
}
/* line 936, ../sass/_layout.scss */
.footer_bg .footer .footer_visitcount .footer_Login {
  display: inline-block;
}
/* line 940, ../sass/_layout.scss */
.footer_bg .footer .footer_info {
  line-height: 2;
}
/* line 945, ../sass/_layout.scss */
.footer_bg .footer .footer_info a {
  color: #ffffff;
  text-decoration: underline;
}
/* line 948, ../sass/_layout.scss */
.footer_bg .footer .footer_info a:hover {
  color: #80b900;
  text-decoration: none;
}
/* line 955, ../sass/_layout.scss */
.footer_bg .footer .footer_info map a img {
  margin-left: 5px;
}
/* line 965, ../sass/_layout.scss */
.footer_bg .footer .footer_iconlink {
  position: absolute;
  top: 0px;
  right: 5px;
}
/* line 971, ../sass/_layout.scss */
.footer_bg .footer .footer_iconlink ul li {
  float: left;
  z-index: 1;
  background-repeat: no-repeat;
}
/* line 975, ../sass/_layout.scss */
.footer_bg .footer .footer_iconlink ul li + li {
  margin-left: 8px;
}
/* line 978, ../sass/_layout.scss */
.footer_bg .footer .footer_iconlink ul li a {
  display: block;
}
/* line 984, ../sass/_layout.scss */
.footer_bg .footer .footer_iconlink ul li.footer_wcag a {
  width: 88px;
  height: 31px;
  background-image: url('../images/index_37.jpg?1633584357');
  background-repeat: no-repeat;
  background-position: center;
}
/* line 990, ../sass/_layout.scss */
.footer_bg .footer .footer_iconlink ul li.footer_egov a {
  width: 43px;
  height: 45px;
  background-image: url('../images/gov_03.png?1633584357');
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 560px) {
  /* line 1014, ../sass/_layout.scss */
  .topbg .toplog .toplog h1 a {
    width: 280px;
    margin: 0 auto;
  }
  /* line 1020, ../sass/_layout.scss */
  .topbg .toplog .toplink {
    display: none;
  }
  /* line 1024, ../sass/_layout.scss */
  .topbg .toplog .fontlevel {
    display: none;
  }
  /* line 1028, ../sass/_layout.scss */
  .topbg .toplog .share_box {
    display: none;
  }
  /* line 1032, ../sass/_layout.scss */
  .topbg .toplog .sitemap {
    display: none;
  }
  /* line 1036, ../sass/_layout.scss */
  .topbg .toplog .search {
    display: none;
  }
  /* line 1040, ../sass/_layout.scss */
  .topbg .toplog .hot_search {
    display: none;
  }

  /* line 1046, ../sass/_layout.scss */
  .opnemenu_area {
    display: none;
  }

  /* line 1051, ../sass/_layout.scss */
  .footer_bg .footer {
    padding: 0 30px;
  }
  /* line 1053, ../sass/_layout.scss */
  .footer_bg .footer:before {
    content: none;
    display: none;
  }
  /* line 1057, ../sass/_layout.scss */
  .footer_bg .footer .footer_iconlink {
    display: none;
  }
  /* line 1063, ../sass/_layout.scss */
  .footer_bg .footer .footer_visitcount .footer_Login {
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 561px) {
  /* line 1079, ../sass/_layout.scss */
  .topbg .toplog .toplog h1 a {
    width: 340px;
  }
  /* line 1084, ../sass/_layout.scss */
  .topbg .toplog .toplink {
    right: 0;
  }
  /* line 1088, ../sass/_layout.scss */
  .topbg .toplog .fontlevel {
    display: none;
  }
  /* line 1092, ../sass/_layout.scss */
  .topbg .toplog .share_box {
    display: none;
  }
  /* line 1096, ../sass/_layout.scss */
  .topbg .toplog .sitemap {
    display: none;
  }
  /* line 1100, ../sass/_layout.scss */
  .topbg .toplog .search {
    position: absolute;
    top: 50px;
    left: inherit;
    right: 10px;
    z-index: 3;
    border: #a1a1a1 solid 1px;
    background-color: #ffffff;
  }

  /* line 1112, ../sass/_layout.scss */
  .opnemenu_area {
    display: none;
  }

  /* line 1117, ../sass/_layout.scss */
  .footer_bg .footer {
    padding: 0 30px;
  }
  /* line 1119, ../sass/_layout.scss */
  .footer_bg .footer:before {
    content: none;
    display: none;
  }
  /* line 1123, ../sass/_layout.scss */
  .footer_bg .footer .footer_iconlink {
    display: none;
  }
}
/* line 1137, ../sass/_layout.scss */
.case-list {
  margin-right: 10px;
}

/* line 1142, ../sass/_layout.scss */
table.case-list-table {
  width: 100%;
  box-sizing: border-box;
}
/* line 1147, ../sass/_layout.scss */
table.case-list-table tbody {
  background-color: #ffffff;
}
/* line 1150, ../sass/_layout.scss */
table.case-list-table tbody tr {
  padding: 5px 8px;
  border-bottom: 1px dashed #d8d8d8;
}
/* line 1154, ../sass/_layout.scss */
table.case-list-table tbody tr:first-child, table.case-list-table tbody tr:last-child {
  border: 0;
}
/* line 1160, ../sass/_layout.scss */
table.case-list-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
/* line 1164, ../sass/_layout.scss */
table.case-list-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
/* line 1170, ../sass/_layout.scss */
table.case-list-table tbody tr:hover {
  background-color: #f3fdfd;
}
/* line 1174, ../sass/_layout.scss */
table.case-list-table tbody tr th {
  background-color: #1c7ca6;
}
/* line 1178, ../sass/_layout.scss */
table.case-list-table tbody tr th:first-child {
  border-top-left-radius: 5px;
}
/* line 1182, ../sass/_layout.scss */
table.case-list-table tbody tr th:last-child {
  border-top-right-radius: 5px;
}
/* line 1187, ../sass/_layout.scss */
table.case-list-table tbody tr td {
  padding: 5px 10px;
  text-align: center;
}
/* line 1193, ../sass/_layout.scss */
table.case-list-table tbody tr td .tex-left:last-child {
  text-align: center !important;
}
/* line 1198, ../sass/_layout.scss */
table.case-list-table tbody tr td .delete {
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  margin: 0 10px !important;
  background: url('../images/icon-delete-list.png?1633584357') no-repeat center;
}
/* line 1208, ../sass/_layout.scss */
table.case-list-table tbody tr td table tbody tr {
  border: 0;
}
/* line 1210, ../sass/_layout.scss */
table.case-list-table tbody tr td table tbody tr td {
  padding: 0;
}
/* line 1217, ../sass/_layout.scss */
table.case-list-table tbody tr td i {
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 3px;
}
/* line 1221, ../sass/_layout.scss */
table.case-list-table tbody tr td i.receipt {
  background-color: #1c7ca6;
}
/* line 1224, ../sass/_layout.scss */
table.case-list-table tbody tr td i.carried {
  background-color: #11a7a7;
}
/* line 1227, ../sass/_layout.scss */
table.case-list-table tbody tr td i.view {
  background-color: #2edcdc;
}
/* line 1230, ../sass/_layout.scss */
table.case-list-table tbody tr td i.fork {
  background-color: #2edcdc;
}
/* line 1236, ../sass/_layout.scss */
table.case-list-table tbody tr.is-overdue {
  background-color: #fee8e5 !important;
}
/* line 1238, ../sass/_layout.scss */
table.case-list-table tbody tr.is-overdue .dead-line {
  color: #e2556e !important;
}
/* line 1243, ../sass/_layout.scss */
table.case-list-table tbody tr.is-today {
  background-color: #fdefde !important;
}
/* line 1245, ../sass/_layout.scss */
table.case-list-table tbody tr.is-today .dead-line {
  color: #795548 !important;
}
/* line 1250, ../sass/_layout.scss */
table.case-list-table tbody tr.is-goexpire {
  background-color: #fdfce8 !important;
}
/* line 1252, ../sass/_layout.scss */
table.case-list-table tbody tr.is-goexpire .dead-line {
  color: #555555 !important;
}

/* line 1264, ../sass/_layout.scss */
.list_gotopage td {
  text-align: center;
  text-decoration: none;
}

/* line 1273, ../sass/_layout.scss */
.main-content-width {
  width: 760px !important;
}
/* line 1275, ../sass/_layout.scss */
.main-content-width .search-box {
  margin-right: 10px !important;
}

/* line 1281, ../sass/_layout.scss */
ul.sub_menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: -1px -1px 17px 0px rgba(209, 209, 209, 0.8);
  border-radius: 0 0 5px 5px;
  top: 100%;
  left: 0;
  width: 150px;
  z-index: 100;
}
/* line 1311, ../sass/_layout.scss */
ul.sub_menu li {
  white-space: nowrap;
  -webkit-transition: background .2s !important;
  transition: background .2s !important;
  float: none !important;
  width: 100% !important;
}
/* line 1318, ../sass/_layout.scss */
ul.sub_menu li a {
  color: #343434;
  text-decoration: none;
  padding: 8px;
  display: block;
  transition: 150ms;
}
/* line 1325, ../sass/_layout.scss */
ul.sub_menu li a:hover {
  color: #1c7ca6;
}
/* line 1330, ../sass/_layout.scss */
ul.sub_menu li + li {
  border-top: 1px solid #f2f2f2;
}
/* line 1334, ../sass/_layout.scss */
ul.sub_menu.more_menu {
  width: 360px;
}
/* line 1336, ../sass/_layout.scss */
ul.sub_menu.more_menu li {
  float: left !important;
  width: 50% !important;
}

/* line 1345, ../sass/_layout.scss */
.myproject:before {
  font-size: inherit;
  color: inherit;
  margin-right: 5px;
  position: relative;
  color: #11a7a7;
}

/*# sourceMappingURL=index.css.map */
