/* 以下css為設計師專用請勿動到設定,若需要請在建立新的class或直接寫在style標籤上*/
/* line 4, ../sass/main.scss */
body { margin: 0; /*scrollbar-face-color: DEEAF9;
scrollbar-highlight-color: DEEAF9;
scrollbar-shadow-color: DEEAF9;
scrollbar-3dlight-color: DEEAF9;
scrollbar-arrow-color: 196BC9;
scrollbar-track-color: DEEAF9;
scrollbar-darkshadow-color: gray;*/
position: relative;
margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; 	/*background-image:url(../images/bg_top.jpg);
background-position:left top; background-repeat:repeat-x;*/
font-family: Arial, "Helvetica Neue", Helvetica, "微軟正黑體";
 font-size: 1em;
 }

/*
A:link 是代表普通狀態的連結 
A:visited 是代表造訪過的連結 
A:hover 是代表滑鼠移到連結 
A:active 是代表按下去連結 
*/
/* 背景圖設定 
.m_bg{ background-image:url(../images/m_bg.jpg); background-position:bottom left; background-repeat:repeat-x;}
.t_bg{ background-image:url(../images/t_bg.jpg); background-position:bottom right; background-repeat:no-repeat;}*/
/* line 34, ../sass/main.scss */
a:link {  text-decoration: none;  }

/* line 35, ../sass/main.scss */
a:visited {  text-decoration: none;  }

/* line 36, ../sass/main.scss */
a:active {  text-decoration: none;  }

/* line 37, ../sass/main.scss */
a:hover {  text-decoration: none; }

/* 內容文字 */
/* line 40, ../sass/main.scss */
.text_8pt { font-family: inherit; font-size: 60%; font-variant: normal; font-style: normal; line-height: 180%; text-decoration: none; }

/* line 41, ../sass/main.scss */
.text_9pt { font-family: inherit; font-size: 70%; font-variant: normal; font-style: normal; line-height: 160%; text-decoration: none; }

/* line 42, ../sass/main.scss */
.text_10pt { font-family: inherit; font-size: 75%; font-variant: normal; font-style: normal; line-height:3; text-decoration: none; }

/* line 43, ../sass/main.scss */
.text_11pt { font-family: inherit; font-size: 11pt; font-variant: normal; font-style: normal; line-height: 200%; text-decoration: none; }

/* line 44, ../sass/main.scss */
.text_12pt { font-family: inherit; font-size: 12pt; font-variant: normal; font-style: normal; line-height: 180%; text-decoration: none; }

/* line 45, ../sass/main.scss */
.text_12_1pt { font-family: inherit; font-size: 12.5pt; font-variant: normal; font-style: normal; line-height: 180%; text-decoration: none; }

/* line 46, ../sass/main.scss */
.text_12_2pt { font-family: inherit; font-size: 80%; font-variant: normal; font-style: normal; line-height: 180%; text-decoration: none; }

/* line 47, ../sass/main.scss */
.text_13pt { font-family: inherit; font-size: 84%; font-variant: normal; font-style: normal; line-height: 180%; text-decoration: none; }

/* line 48, ../sass/main.scss */
.text_13_1pt { font-family: inherit; font-size: 85%; font-variant: normal; font-style: normal; line-height: 180%; text-decoration: none; }

/* line 49, ../sass/main.scss */
.text_14pt { font-family: inherit; font-size: 95%; font-variant: normal; font-style: normal; line-height: 120%; text-decoration: none; }

/* line 50, ../sass/main.scss */
.text_15pt { font-family: inherit; font-size: 102%; font-variant: normal; font-style: normal; line-height: 180%; text-decoration: none; }

/* line 51, ../sass/main.scss */
.text_17pt { font-family: inherit; font-size: 130%; font-variant: normal; font-style: normal; line-height: 180%; text-decoration: none; }

/* line 52, ../sass/main.scss */
.text_20pt { font-family: inherit; font-size: 180%; font-variant: normal; font-style: normal; line-height: 100%; text-decoration: none; }

/* 文字色彩(請按英文字母排序) */
/* line 57, ../sass/main.scss */
/*.black00{text-align: left;}*/

/*.black00 { COLOR: #000000; text-decoration: none; text-align: left; }
*/
/* line 62, ../sass/main.scss */
/*.black00 A:link { COLOR: #000000; text-decoration: none; }*/

/* line 63, ../sass/main.scss */
/*.black00 A:visited { COLOR: #000000; text-decoration: none; }*/

/* line 64, ../sass/main.scss */
/*.black00 A:hover { COLOR: #000000; text-decoration: none; position: relative; top: 1pt; left: 1pt; }*/

/* line 66, ../sass/main.scss */
.brown01 { COLOR: #cd5a2d; text-decoration: none; }

/* line 67, ../sass/main.scss */
.brown01 A:link { COLOR: #cd5a2d; text-decoration: none; }

/* line 68, ../sass/main.scss */
.brown01 A:visited { COLOR: #cd5a2d; text-decoration: none; }

/* line 69, ../sass/main.scss */
.brown01 A:hover { COLOR: #635625; text-decoration: none; position: relative; top: 1pt; left: 1pt; }

/* line 73, ../sass/main.scss */
.gray01 { COLOR: #3c3d3d; text-decoration: none; line-height: 220%; text-align: center; }

/* line 79, ../sass/main.scss */
.gray01 A:link { COLOR: #3c3d3d; text-decoration: none; line-height: 220%; }

/* line 80, ../sass/main.scss */
.gray01 A:visited { COLOR: #3c3d3d; text-decoration: none; line-height: 220%; }

/* line 81, ../sass/main.scss */
.gray01 A:hover { COLOR: #3c3d3d; text-decoration: none; position: relative; top: 1pt; left: 1pt; line-height: 220%; }

/* line 83, ../sass/main.scss */
.blue01 { COLOR: #00F; text-decoration: none; }

/* line 84, ../sass/main.scss */
.blue01 A:link { COLOR: #00F; text-decoration: underline; }

/* line 85, ../sass/main.scss */
.blue01 A:visited { COLOR: #00F; text-decoration: none; }

/* line 86, ../sass/main.scss */
.blue01 A:hover { COLOR: #00F; text-decoration: none; position: relative; top: 1pt; left: 1pt; }

/* line 88, ../sass/main.scss */
.green01 { COLOR: #359b7d; text-decoration: none; }

/* line 89, ../sass/main.scss */
.green01 A:link { COLOR: #359b7d; text-decoration: none; }

/* line 90, ../sass/main.scss */
.green01 A:visited { COLOR: #359b7d; text-decoration: none; }

/* line 91, ../sass/main.scss */
.green01 A:hover { COLOR: #cd5a2d; text-decoration: none; position: relative; top: 1pt; left: 1pt; }

/* line 94, ../sass/main.scss */
.orange01 { COLOR: #f67812; text-decoration: none; }

/* line 95, ../sass/main.scss */
.orange01 A:link { COLOR: #f67812; text-decoration: underline; }

/* line 96, ../sass/main.scss */
.orange01 A:visited { COLOR: #f67812; text-decoration: none; }

/* line 97, ../sass/main.scss */
.orange01 A:hover { COLOR: #f67812; text-decoration: none; position: relative; top: 1pt; left: 1pt; }

/* line 99, ../sass/main.scss */
.purple01 { COLOR: #785498; text-decoration: none; }

/* line 100, ../sass/main.scss */
.purple01 A:link { COLOR: #785498; text-decoration: underline; }

/* line 101, ../sass/main.scss */
.purple01 A:visited { COLOR: #785498; text-decoration: none; }

/* line 102, ../sass/main.scss */
.purple01 A:hover { COLOR: #377CC8; text-decoration: underline; }

/* line 104, ../sass/main.scss */
.red01 { COLOR: #F00; text-decoration: none; text-align: center; }

/* line 105, ../sass/main.scss */
.red01 A:link { COLOR: #F00; text-decoration: underline; }

/* line 106, ../sass/main.scss */
.red01 A:visited { COLOR: #F00; text-decoration: none; }

/* line 107, ../sass/main.scss */
.red01 A:hover { COLOR: #F00; text-decoration: underline; }

/* line 109, ../sass/main.scss */
.white01 { COLOR: #FFFFFF; text-decoration: none; }

/* line 110, ../sass/main.scss */
.white01 A:link { COLOR: #FFFFFF; text-decoration: none; }

/* line 111, ../sass/main.scss */
.white01 A:visited { COLOR: #FFFFFF; text-decoration: none; }

/* line 112, ../sass/main.scss */
.white01 A:hover { COLOR: #FFFF66; text-decoration: none; position: relative; top: 1pt; left: 1pt; }

/* 字體加粗設定 */
/* line 116, ../sass/main.scss */
.bold01 { font-weight: bold; text-align: left; }

/* line 120, ../sass/main.scss */
.bold01 A:link { font-weight: bold; }

/* line 121, ../sass/main.scss */
.bold01 A:visited { font-weight: bold; }

/* line 122, ../sass/main.scss */
.bold01 A:hover { font-weight: bold; }

/* 圖片外框 */
/* line 125, ../sass/main.scss */
.pic_border001 { border: 1pt solid #CCCCCC; }

/* line 127, ../sass/main.scss */
.line { line-height: 240%; }

/* line 128, ../sass/main.scss */
.line1 { line-height: 140%; }

/* 表格顏色設定 */
/* line 131, ../sass/main.scss */
.table_bg01 { background-image: url(../images/table_bg1.jpg); background-position: bottom left; background-repeat: repeat-x; }

/* 最新消息 */
/* line 134, ../sass/main.scss */
.table_1 { padding-top: 10px; padding-bottom: 10px; }

/* line 139, ../sass/main.scss */
.td_bg_1_3 { background-image: url(../images/table_bg_3_1.gif); background-repeat: repeat-x; background-position: left bottom; height: 25px; }

/* line 147, ../sass/main.scss */
.message-quicklink { font-family: Arial; }

/* line 155, ../sass/main.scss */
.footer-words {  color: #333; font-size: 9pt; font-family: Arial; }

/* line 164, ../sass/main.scss */
.ButtonStyle_H1 { cursor: pointer; border: inset 1px #666; border: 1px outset #333; font-family: inherit; font-size: 12px; background: #DDDDDD; color: #FFF; height: 22px; margin: 5px; background: url(../images/btn_bg.jpg); }

/* line 176, ../sass/main.scss */
.ButtonStyle_H2 {
	cursor: pointer !important;
	border: inset 1px #FFF !important;
	border: outset 1px #FFF !important;
	font-size: 12px !important;
	background-color: #DDDDDD !important;
	color: #FFF !important;
	height: 22px !important;
	margin: 5px !important;
	background-image: url(../images/btn_bg_b.jpg) !important;
	line-height: 1 !important;
	font-family: inherit;
}

/* 主選單設定 */
/* line 193, ../sass/main.scss */
.form01 { border-bottom: 1px solid #e8e6e6; background: #FFFFFF; }

/* line 198, ../sass/main.scss */
.form02 { border-bottom: 1px solid #DBDBDB; background: #F8F8F8; }

/* line 203, ../sass/main.scss */
.form03 {background: #F8F8F8; border: 1px solid #FFF; color: #666666; font-size: 100%; /*border-bottom:#FFF solid 1px;*/ }
.form03 input { font-family: 微軟正黑體; }
.form03 label { padding-right:10px;  }
/* line 211, ../sass/main.scss */
.form04 { background-color: #f8f4ef; }

/*--------------------------------GridView用----------------------------------------------*/
/* line 217, ../sass/main.scss */
.TableClass_H1 { /*background:url(../images/line.jpg);*/ /*text-align: center;*/ }

/* line 224, ../sass/main.scss */
.TableClass_H1 th { font-size: 11pt; text-align: left;  vertical-align: middle; height: 44px; line-height: 125%; background-image: url(../images/line.jpg); font-weight:normal; background-repeat: repeat-x; color: #236ea4;padding-left: 8px; }

/* line 236, ../sass/main.scss */
.TableClass_H1 th a:link { text-decoration: underline; color: #236ea4; }

/* line 237, ../sass/main.scss */
.TableClass_H1 th a:visited { text-decoration: underline; color: #236ea4; }

/* line 238, ../sass/main.scss */
.TableClass_H1 th a:hover { text-decoration: underline; color: #236ea4;}

/* line 239, ../sass/main.scss */
.TableClass_H1 th a:active { text-decoration: underline; color: #236ea4; }


/* line 242, ../sass/main.scss
.TableClass_H1_td1 { border-bottom: 1px dotted #ACB7BB; background-color: #EDFDFE; word-wrap: break-word; word-break: break-all; color: #ffffff; font-size: 100%; line-height: 200%; padding: 3px 3px 3px 8px; vertical-align: middle; height: 20px; }

/* line 254, ../sass/main.scss 
.TableClass_H1_td1 A:link { COLOR: #666666; text-decoration: none; word-wrap: break-word; word-break: break-all; }

/* line 255, ../sass/main.scss 
.TableClass_H1_td1 A:visited { COLOR: #666666; text-decoration: none; word-wrap: break-word; word-break: break-all; }

/* line 256, ../sass/main.scss 
.TableClass_H1_td1 A:hover { COLOR: #339933; text-decoration: none; word-wrap: break-word; word-break: break-all; }

/* line 259, ../sass/main.scss 
.TableClass_H1_td2 { border-bottom: 1px dotted #ACB7BB; word-wrap: break-word; word-break: break-all; background-color: #fff; color: #666666; font-size: 12px; line-height: 200%; padding: 3px 3px 3px 8px; vertical-align: middle; height: 20px; }

/* line 271, ../sass/main.scss 
.TableClass_H1_td2 A:link { COLOR: #666666; text-decoration: none; word-wrap: break-word; word-break: break-all; }

/* line 272, ../sass/main.scss 
.TableClass_H1_td2 A:visited { COLOR: #666666; text-decoration: none; word-wrap: break-word; word-break: break-all; }

/* line 273, ../sass/main.scss 
.TableClass_H1_td2 A:hover { COLOR: #339933; text-decoration: none; word-wrap: break-word; word-break: break-all; }*/

/* line 276, ../sass/main.scss */
.TableClass_H1 td {color: #666666;font-size: 11pt;line-height: 150%;padding: 3px 3px 3px 8px;vertical-align: middle;height: 20px;border-bottom-width: 0px;border-bottom-style: none;border-bottom-color: #CCCCCC;text-align: left;}

/* line 287, ../sass/main.scss */
.TableClass_H1 td A:link { COLOR: #666666; text-decoration: none; }

/* line 288, ../sass/main.scss */
.TableClass_H1 td A:visited { COLOR: #006699; text-decoration: none; }

/* line 289, ../sass/main.scss */
.TableClass_H1 td A:hover { COLOR: #006699; text-decoration: none; }

.TableClass_H2 td {color: #666666;font-size: 11pt;line-height: 150%;padding: 3px 3px 3px 8px;vertical-align: middle;height: 20px;border-bottom-width: 0px;border-bottom-style: none;border-bottom-color: #CCCCCC;text-align: left;}

/* line 293, ../sass/main.scss */
.TableClass_H3 td { color: #666666; font-size: 11pt; line-height: 200%; /*padding:3px 3px 3px 8px;*/ vertical-align: middle; height: 20px; border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #9edae5; }

/* line 304, ../sass/main.scss */
.TableClass_H3 td A:link { COLOR: #666666; text-decoration: none; }

/* line 305, ../sass/main.scss */
.TableClass_H3 td A:visited { COLOR: #006699; text-decoration: none; }

/* line 306, ../sass/main.scss */
.TableClass_H3 td A:hover { COLOR: #006699; text-decoration: none; }

/* line 309, ../sass/main.scss */
.TableClass_H1_Footer { font-size: 10pt; text-align: center; vertical-align: middle; height: 44px; line-height: 100%; background-image: url(../images/line2.jpg); background-repeat: repeat-x; color: #236ea4; }

/* 日期文字方塊 */
/* line 321, ../sass/main.scss */
.Wdate { background: white url(../images/datePicker.gif) no-repeat right; }

/*輪播版型控制開關*/
/* line 325, ../sass/main.scss */
#content_ctl00_ddlTopBannerStyle { /*display: none;*/ }

/* line 328, ../sass/main.scss */
.im { width: 130px; height: 100px; margin: 0 5px 5px; }

/* line 330, ../sass/main.scss */
h4 { font: Arial, Helvetica; color: #49d2b8; margin: 0; padding: 0; font-size: 15px; }

/* line 332, ../sass/main.scss */
b { font-weight: normal; padding: 0; float: left; }

/* line 335, ../sass/main.scss */
.blue { color: #3399cc; }

/* line 337, ../sass/main.scss */
.green { color: #339966; }

/*.tilte{background:url(../images/title_01.png)no-repeat left ; height:35px; line-height:2.2em; padding-left:45px; border-bottom:#096 3px dotted; text-align:left; font-size:1.3em; font:"微軟正黑體",Arial, Helvetica, sans-serif;}*/
/* line 339, ../sass/main.scss */
.tilte2 { background: url(../images/title_02.png) no-repeat left; height: 35px; line-height: 2.2em; padding-left: 45px; border-bottom: #096 3px dotted; text-align: left; font-size: 1.3em; font: "微軟正黑體",Arial, Helvetica; }

/*.tilte3{background:url(../images/title_03.png)no-repeat left ; height:35px; line-height:2.2em; padding-left:45px; border-bottom:#096 3px dotted; text-align:left; font-size:1.3em; font:"微軟正黑體",Arial, Helvetica, sans-serif;}*/
/*共通平台專用*/
/* line 345, ../sass/main.scss */
.ModuleHtmlClass { position: relative; background-color: #FFFFFF; padding: 10px; /* margin: 10px; */ /* border: 1px solid #C0C0C0; */ }

/*標題*/
/* line 353, ../sass/main.scss */
.portlet-headerTitle { background-color: #404040; color: #FFFFFF; font-size: 1em; line-height: 1.7; }

/*編輯*/
/* line 360, ../sass/main.scss */
.ShowEdit { position: absolute; top: 11px; right: 91px; background: url(../images/icon_img.png) no-repeat -4px -2px; width: 30px; height: 30px; font: 0/0 a; text-shadow: none; color: transparent; z-index: 999; }

/* line 372, ../sass/main.scss */
.ShowEdit:hover { background: url(../images/icon_img.png) no-repeat -38px -2px; width: 30px; height: 30px; }

/* line 377, ../sass/main.scss */
.ShowDeviceEdit { position: absolute; top: 11px; right: 54px; background: url(../images/icon_img.png) no-repeat -4px -35px; width: 30px; height: 30px; font: 0/0 a; text-shadow: none; color: transparent; z-index: 999; }

/* line 389, ../sass/main.scss */
.ShowDeviceEdit:hover { background: url(../images/icon_img.png) no-repeat -38px -35px; width: 30px; height: 30px; }

/* line 394, ../sass/main.scss */
.DeleteModule { position: absolute; top: 11px; right: 17px; background: url(../images/icon_img.png) no-repeat -4px -68px; width: 30px; height: 30px; font: 0/0 a; text-shadow: none; color: transparent; z-index: 999; }

/* line 406, ../sass/main.scss */
.DeleteModule:hover { background: url(../images/icon_img.png) no-repeat -38px -68px; width: 30px; height: 30px; }

/*群組顏色*/
/* line 412, ../sass/main.scss */
.GroupList { padding: 10px; background-color: #FF9090; margin: 10px; }

/*新式選單*/
/* line 420, ../sass/main.scss */
/*.Rootmenu-container ul { padding: 10px; margin: 0; }
*//* line 422, ../sass/main.scss */
/*.Rootmenu-container ul li { float: left; cursor: pointer; text-decoration: none; list-style-type: none; margin: 5px; background-color: #6D6D6D; font-size: 0.7em; padding: 5px; color: #fff; }*/
/* line 423, ../sass/main.scss */
/*.Rootmenu-container ul li a { text-decoration: none; color: #fff;}*/

/*.Rootmenu-container ul li a:hover { text-decoration: none; color: #fff; background-image:url(../images/m_hover.png);}*/

/* line 432, ../sass/main.scss */
.menu-container { display: block; position: relative; *position:inherit\9; background-color: #ffffff; padding: 0; border-radius: 5px; box-shadow: inset 0 0 1px white;/* margin-top:10px\9;*/}

/* line 444, ../sass/main.scss */
.nav { background-color: #ed6b3a; height: 40px; border-radius: 5px 5px 0 0; }

/* line 450, ../sass/main.scss */
.settings { height: 20px; float: right; background-image: url(http://i.imgur.com/CLs7u.png); width: 20px; margin: 10px; }

/* line 458, ../sass/main.scss */
.Submenu ul { list-style: none; }

/* line 462, ../sass/main.scss */
.Submenu ul li { /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/ padding: 11px 10px; box-shadow: inset 0 1px 1px #fff; text-indent: 10px; }

/* line 469, ../sass/main.scss */
.Submenu ul li a { font-size: 14px; color: #a4a3a3; font-family: 'Strait', sans-serif; font-size: 14px; text-decoration: none; text-shadow: 1px 1px 1px #fff; }

/* line 478, ../sass/main.scss */
.Submenu ul li img { float: left; margin: -2px 0 0 0; }


/*------網站設定step樣式---------*/
#fvDetail th{ background-color: #f8f8f8; padding: 3px 0; color: #515151; font-size: 11pt; }
#fvDetail th a{ color: #515151; font-size: 11pt; text-decoration: none;}
#fvDetail th a:hover{text-decoration:underline;  color: #ffe4c4;}
.select{ /*color: #ffe4c4 !important;*/font-weight: bold;}



/*----------模組區塊間距----------*/
#column_1 div,#column_2 div,#column_3 div { margin: 10px;}



/*----------模組title拖曳手指提示----------*/
div.portlet-headerTitle.IsModuleTools {
    cursor:move;
}



/*--------次選單----*/

.nav { background-color: #349dde; color: #fff; text-indent: 20px; font-weight: bold; line-height:3;  border-radius: 5px 5px 0 0; }

.Submenu ul { list-style: none; padding:0px; margin:0px;}

.Submenu ul li {display: block; color: inherit; padding: 0; /*border-top: 1px solid #e0e0e0;*/  border-bottom: 1px solid #e0e0e0; text-align: left; background-color: #ffffff; background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);  cursor: pointer;}

.Submenu ul li p{ margin: 11px 8px;  font-size:12.5pt; color: #404040; }

/* line 469, ../sass/main.scss */
.Submenu ul li a { font-family: 微軟正黑體; font-size: 12.5pt; color: #a4a3a3;text-decoration: none; text-shadow: 1px 1px 1px #fff; }

/* line 478, ../sass/main.scss */
.Submenu ul li img { float: left; margin-top:5px !important; }

/* line 483, ../sass/main.scss */
.Submenu ul li:hover {*margin:0px \9; background-color: #f5f5f5; background:url(../images/menu_icon.png) right center no-repeat ;}



li.SubSystem a p{/*border-top:none !important; border-top:none!important\9; border-top: #d8d8d8 solid 1px\9;*/*margin:0px; margin:0px\9;}
li.SubSystem a p:hover{ *margin:0px !important\9; *line-height:3\9;}


.SubMenuSelect{/* background-color:#e8f2fb; */ background:url(../images/menu_icon.png) right center no-repeat #e8f2fb;}
.SubMenuSelect p{ color: #11517f !important; *color: #11517f !important;  font-weight:bold; *font-weight:bold;}


#MainTop {background-color: #f5f5f5;background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);}

#BannerAndMenu table {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.footTable{ border-top: 2px solid #D9078C;}

.RootMenu_tr{
	width:100%;
	background: url(../images/top_bg.png) repeat-x bottom;
	height: 40px;	
}
.RootMenu_SelectSites{
    min-width: 308px;
    float: right;
    height:100%;
}

.RootMenu_SelectSites p{
	display: inline-block;
	color: #414141;
	font-size: 0.8em;
	text-indent: 15px;	
	line-height: 52px;
	*line-height: 3;
	margin:0;
}
.RootMenu_SelectSites select {
	margin: 5px 0;
	*margin: 5px 0;
	*line-height: 3;
}

.Rootmenu-container ul { padding-left: 10px; margin: 0; }


.ViewMode {
	display: block;
    padding: 10px 20px;
}

.ViewMode ul{
    
}

.ViewMode ul:after{
    content: '\200B';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

#fvDetail li.DeskTopView{
	display: block;
	float: left;
	background: url(../images/desktop.png) no-repeat;
	height: 40px;
	width:40px;
	margin-right: 10px;
	float: left;
	cursor: pointer;
}


#fvDetail li.PadView{
	display: block;
	float: left;
	background: url(../images/pad.png) no-repeat;
	height: 40px;
	width:40px;
	margin-right: 5px;
	float: left;
	cursor: pointer;
}


#fvDetail li.MobileView{
	display: block;
	float: left;
	background: url(../images/mobile.png) no-repeat;
	height: 40px;
	width:40px;
	float: left;
	cursor: pointer;
}



/*.ButtonStyle_H2 { margin:15px;}*/


.tree-border-OpenButton{ 
	display: block;
	width: 26px;
	height: 54px;
	background-image: url(../images/close.png);
	text-indent: -9999px;
	cursor:pointer;
}


.RootMenu_LoginMsg{
	z-index: 9999;
	display: block;
	
}
.RootMenu_LoginMsg p{
	font-size: 0.8em;
	float: left;
	position: absolute;
	top:60px;
	right:10px;
	*top:80px;
}

.RootMenu_LoginUserName{
	color: #ff3366;
}


/*-----修改、下載、登出------*/
.TopBtn{
	display: inline-block;
	float: right;
    width: 196px;
}

input.ButtonStyle_ModifyPW{ 
    display: block;
    float: left;
    margin-right: 10px;
    text-indent: -9999px;
    border: none;
    width:39px;
    height: 39px;
    cursor:pointer;
    background: none;
	background-image: url(../images/top01.png);
}

input.ButtonStyle_Agent{ 
    display: block;
    float: left;
    margin-right: 10px;
    text-indent: -9999px;
    border: none;
    width:39px;
    height: 39px;
    cursor:pointer;
    background: none;
	background-image: url(../images/top02.png);
}

input.ButtonStyle_TrainingDM{ 
    display: block;
    float: left;
    margin-right: 10px;
    text-indent: -9999px;
    border: none;
    width:39px;
    height: 39px;
    cursor:pointer;
    background: none;
	background-image: url(../images/top04.png);
}

input.ButtonStyle_Logout{ 
    display: block;
    float: left;
    margin-right: 10px;
    text-indent: -9999px;
    border: none;
    width:39px;
    height: 39px;
    cursor:pointer;
    background: none;
	background-image: url(../images/top03.png);
}

input.ButtonStyle_Publish{ 
    display: block;
    float: right;
    margin: 0 0 0 20px;
    text-indent: -9999px;
    border: none;
    width:39px;
    height: 52px;
    cursor:pointer;
    background: none;
	background: url(../images/top05.png) center no-repeat;
}


/*------編輯、停用--------*/
a.TreeIcon_Edit{
	display: block;
	text-indent: -9999px;
	width:13px;
    height: 12px;
	background-image: url(../images/sitemap.png);
	background-repeat: no-repeat;
}
a.TreeIcon_WebArchive{
	display: block;
	text-indent: -9999px;
	width:13px;
    height: 12px;
	background-image: url(../images/pen.png);
	background-repeat: no-repeat;
}
a.level0{
	display: block;
}

.TreeIcon_Delete{
	display: inline-block;
	text-indent: -9999px;
	cursor:pointer;
	width:16px;
    height: 16px;
	background-image: url(../images/x.png);
	background-repeat: no-repeat;

}



/*-------新選單--------------*/

td.RootMenu_2{

	
}

.RootMenu{
	text-align: center;
	/*width:750px;*/
	/*width:690px;*/
}

.RootMenu ul {
	margin: 0 auto;
	padding:0px;
	overflow: hidden;
	height: 51px;
	margin-left:5px;
}

.RootMenu ul li{ 
	display: block; 
	float: left; 
	font-weight: bold; 
	color: #000000; 
	font-size:1em; 
	background-color: none;
	line-height: 2.5;
	/*margin: 0 5px;*/
	height: 51px;
}

.RootMenu ul li a{
	display:block;
	width:114px;
	height:50px;
	line-height:50px;
	text-decoration: none;

}

.RootMenuDiv ul.RootMenu li a:hover {
    border-bottom: 2px solid #6785E8;
}


.RootMenuDiv {
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}

.RootMenuDiv ul.RootMenu li {
	width: 25%;
	float:left;}

.RootMenuDiv ul.RootMenu li a{
	background-position: center;
	display: block;
	cursor: pointer;
	height: 40px;
	font: 0/0 a;
    overflow: hidden;
    /*margin: 5px 0px;*/
    border-bottom:2px solid transparent;
    /*border-right:1px  solid #ccc;*/
}

.RootMenuDiv ul.RootMenu li + li + li + li a {
	border-right:none;

}

/*.RootMenuDiv ul.RootMenu li a:hover{
	border-bottom:2px solid #6785e8;    
}*/

li.m01 a{
	background: url(../images/m01-1.png) no-repeat center;
	/**background: url(../images/m01.png);
	*background-repeat:no-repeat;
	*background-position:10px 8px;
	background: url(../images/m01.png)\9;
	background-repeat:no-repeat\9;
	background-position:10px 8px\9;*/
}
li.m01 a:hover{
	background: url(../images/m01-2.png) no-repeat center;
}
.m01_MainMenuSelect a{
	background: url(../images/m01-2.png) no-repeat center!important;	
}
/*li.m01 a{
	line-height: 2.5;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;

	
}*/

/*li.m01 a:hover{
	background:url(../images/m_hover01.png) left;
}*/


li.m02 a{
	background: url(../images/m02-1.png) no-repeat center;
	/**background: url(../images/m02.png);
	*background-repeat:no-repeat;
	*background-position:10px 8px;
	background: url(../images/m02.png)\9;
	background-repeat:no-repeat\9;
	background-position:10px 8px\9;*/
}
li.m02 a:hover{
	background: url(../images/m02-2.png) no-repeat center;
}
.m02_MainMenuSelect a{
	background: url(../images/m02-2.png) no-repeat center!important;	
}

/*li.m02 a{
	line-height: 2.5;
	font-weight: bold;
	text-decoration: underline;
}*/

/*li.m02 a:hover{
	background:url(../images/m_hover02.png) left;
}*/


li.m03 a{
	background: url(../images/m03-1.png) no-repeat center;
	/**background: url(../images/m03.png);
	*background-repeat:no-repeat;
	*background-position:10px 8px;
	background: url(../images/m03.png)\9;
	background-repeat:no-repeat\9;
	background-position:10px 8px\9;*/
}
li.m03 a:hover{
	background: url(../images/m03-2.png) no-repeat center;
}
.m03_MainMenuSelect a{
	background: url(../images/m03-2.png) no-repeat center!important;	
}

/*li.m03 a{
	cursor: pointer;
	line-height: 2.5;
	font-weight: bold;
	text-decoration: underline;
	
}*/
 
/*li.m03 a:hover{
	background:url(../images/m_hover03.png) left;
}*/

li.m04 a{
	background: url(../images/m04-1.png) no-repeat center;
}

.m04_MainMenuSelect a{
	background: url(../images/m04-2.png) no-repeat center!important;
	/**background: url(../images/m05.png);
	*background-repeat:no-repeat;
	*background-position:10px 8px;
	background: url(../images/m05.png)\9;
	background-repeat:no-repeat\9;
	background-position:10px 8px\9;*/
}

.m04_MainMenuSelect a:hover{
	background: url(../images/m04-2.png) no-repeat center;
}
/*
.m04_MainMenuSelect a{
	background: url(../images/m05-2.png) no-repeat center!important;	
}*/
/*li.m04 a{
	cursor: pointer;
	line-height: 2.5;
	font-weight: bold;
	text-decoration: underline;
	
}*/

/*li.m04 a:hover{
	background:url(../images/m_hover05.png) left;
}
*/

li.m05 a{	
	background: url(../images/m05-1.png) no-repeat center;
	/**background: url(../images/m04.png);
	*background-repeat:no-repeat;
	*background-position:10px 8px;
	background: url(../images/m04.png)\9;
	background-repeat:no-repeat\9;
	background-position:10px 8px\9;*/
}

li.m05 a:hover{
	background: url(../images/m05-2.png) no-repeat center;
}

.m05_MainMenuSelect a{
 	background: url(../images/m05-2.png) no-repeat center!important;
 }
 
 li.m075 a{	
	background: url(../images/m075-1.png) no-repeat center;
	/**background: url(../images/m04.png);
	*background-repeat:no-repeat;
	*background-position:10px 8px;
	background: url(../images/m04.png)\9;
	background-repeat:no-repeat\9;
	background-position:10px 8px\9;*/
}

li.m075 a:hover{
	background: url(../images/m075-2.png) no-repeat center;
}

.m075_MainMenuSelect a{
 	background: url(../images/m075-2.png) no-repeat center!important;
 }

li.m076 a{	
	background: url(../images/m076-1.png) no-repeat center;
	/**background: url(../images/m04.png);
	*background-repeat:no-repeat;
	*background-position:10px 8px;
	background: url(../images/m04.png)\9;
	background-repeat:no-repeat\9;
	background-position:10px 8px\9;*/
}

li.m076 a:hover{
	background: url(../images/m076-2.png) no-repeat center;
}

.m076_MainMenuSelect a{
 	background: url(../images/m076-2.png) no-repeat center!important;
 }
 
 li.m077 a{	
	background: url(../images/m077-1.png) no-repeat center;
	/**background: url(../images/m04.png);
	*background-repeat:no-repeat;
	*background-position:10px 8px;
	background: url(../images/m04.png)\9;
	background-repeat:no-repeat\9;
	background-position:10px 8px\9;*/
}

li.m077 a:hover{
	background: url(../images/m077-2.png) no-repeat center;
}

.m077_MainMenuSelect a{
 	background: url(../images/m077-2.png) no-repeat center!important;
 }
 
/*li.m05 a{
	cursor: pointer;
	line-height: 2.5;
	font-weight: bold;
	text-decoration: underline;
}*/

/*li.m05 a:hover{
	background:url(../images/m_hover04.png) left;
}*/

/*.m01_MainMenuSelect a{
	display:block;
	height:40px;
	background:url(../images/m_hover01.png) left;
	color: #000;
	font-weight: bold;
	line-height:2.5;
	text-decoration: none;

}

.m02_MainMenuSelect a{
	display:block;
	height:40px;
	background:url(../images/m_hover02.png) left;
	color: #000;
	font-weight: bold;
	line-height:2.5;
	text-decoration: none;

}

.m03_MainMenuSelect a{
	display:block;
	height:40px;
	background:url(../images/m_hover03.png) left;
	color: #000;
	font-weight: bold;
	line-height:2.5;
	text-decoration: none;

}

.m04_MainMenuSelect a{
	display:block;
	height:40px;
	background:url(../images/m_hover05.png) left;
	color: #000;
	font-weight: bold;
	line-height:2.5;
	text-decoration: none;

}

.m05_MainMenuSelect a{
	display:block;
	height:40px;
	background:url(../images/m_hover04.png) left;
	color: #000;
	font-weight: bold;
	line-height:2.5;
	text-decoration: none;

}*/


.m01_MainMenuSelect a,.m02_MainMenuSelect a,.m03_MainMenuSelect a,.m04_MainMenuSelect a,.m05_MainMenuSelect a{
	/*border-bottom:2px solid #6785e8 !important;*/	
	/*background-color: #2c85d5!important;*/
}

td.text_10pt {
    margin: 0;
    padding: 0 0 0 10px;
}


.SitesStyleSortGroup{
    _zoom: 1;
}


.SitesStyleSortGroup:after{
        content: '\200B';
        display: block;
        height: 0;
        clear: both;
    }


.SitesStyleSort{
	position: relative;
    float: left;
    width: 22%;
    margin: 10px 1.5% 30px 1.5%;
}

.SitesStyleSort:nth-child(4n+3){
    clear: left
}

.SitesStyleSort img{
    display: block;
    width: 100%;
    margin-bottom: 0 auto 10px;
    border: 1px solid #000;
}

.SitesStyleSort br{
    display: none;
}

.SitesStyleSort h3{
    margin: 10px 0 0;
}

.SitesStyleSort ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

    .SitesStyleSort ul:after{
        content: '\200B';
        display: block;
        height: 0;
        clear: both;
    }

    .SitesStyleSort li{
        float: left;
        width: 21%;
        margin: 0 2%;
        text-align: center
    }

        .SitesStyleSort li div{
            height: 6px;
            margin: 10px 0 3px;
        }

        .SitesStyleSort li input[type="radio"]{
            margin: 0;
        }

.SitesStyleSort a{
	display: block;	
	position: absolute;
	height: 22px;
	padding: 1px 6px;
	top: 6px;
	left: 6px;
	background-image: url(../images/btn_bg_b.jpg);
	text-align: center;
	color: #fff;
	text-decoration: none;
}


.data_midlle_news_box01{

}

    .data_midlle_news_box01 dl{
    
    }

        .data_midlle_news_box01 dl dt{

        }

            .data_midlle_news_box01 dl dt table{

            }

                .data_midlle_news_box01 dl dt tr{

                }

                    .data_midlle_news_box01 dl dt td{
                        text-align: center;
                        font-size: 1.2em;
                        font-weight: 600;
                    }

        .data_midlle_news_box01 dl dd{
            font-size: .8em;
            text-align: right;
        }

.data_midlle_news_box02{
    padding: 20px;
    background-color: #f0f0f0;
    text-align: left;
    margin-top: 10px;
}

.data_midlle_news_box03{

}

.data_midlle_news_box03_2{

}

    .data_midlle_news_box03_2 ul{

    }


        .data_midlle_news_box03_2 ul li{
            list-style: none;
            margin-top: 10px;
        }

            .data_midlle_news_box03_2 ul li table{

            }

                .data_midlle_news_box03_2 ul li table tr{

                }

                    .data_midlle_news_box03_2 ul li table th{

                    }

                    #fvDetail .data_midlle_news_box03_2 ul li table th.RelIcon{
                        padding-left: 20px;
                    }

                    .data_midlle_news_box03_2 ul li table td{

                    }

                        .data_midlle_news_box03_2 ul li table td .news_box03_data{

                        }

                            .data_midlle_news_box03_2 ul li table td .news_box03_data ol{

                            }

                                .data_midlle_news_box03_2 ul li table td .news_box03_data ol li{
                                    padding-left: 20px;
                                }

                                    .data_midlle_news_box03_2 ul li table td .news_box03_data ol li a{

                                    }



.data_midlle_Message{

}

    #content_Panel1{
    
    }

    .data_midlle_Message table{
    
    }

        .data_midlle_Message table tr{

        }

            .data_midlle_Message table tr td,#fvDetail .data_midlle_Message table tr th{
                vertical-align: top;
                font-size: 1em;
                padding: 6px 0;
                padding-right: 10px;
                color: black;
                background-color: transparent;
            }

.data_midlle_web{
    
}

    .data_midlle_web table{
        width: 100%;
    }

        .data_midlle_web tr{

        }


            .data_midlle_web td{

            }

                .data_midlle_web td .web_search{
                    display: inline-block;
                }

                    .data_midlle_web td .web_search input[type="button"]{

                    }

                .data_midlle_web td .web_no{
                    display: inline-block;
                }

                    .data_midlle_web td .web_no input[type="button"]{

                    }

#form1 {
  position: relative;
  min-height: 100%;
  margin-bottom: 70px;
}

/* line 157, ../sass/_layout.scss */
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid #D9078C;
  left: 0px;
  right:0px;
}
/* line 165, ../sass/_layout.scss */
.footer p {
  float: right;
  margin: 0;
  padding: 25px 10px;
}

/*內容區塊_milly*/
tr#TitleImg {
    font-size: 12pt;
}

/*列表樣式統一*/
.TableClass_H1_Footer td {
    background-color: unset!important;
    border: 0px;
}

.TableClass_H1 tr:nth-child(even) td {
    background-color: #EDFDFE;
}

.TableClass_H1 tr:nth-child(odd) td {
    background-color: #fff;  
}

.TableClass_H1 td:first-child {
    padding:0 0 0 10px;
}

.TableClass_H1 td {
    border-bottom: 1px dotted #ACB7BB;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 100%;
    padding: 5px 0px 5px 10px;

    height: 20px;
    color: #666666;
}

.TableClass_H1 td A:link { COLOR:#0782C1; word-wrap: break-word; word-break: break-all; }

.TableClass_H1 td A:visited { COLOR: #666666; text-decoration: none; word-wrap: break-word; word-break: break-all; }

.TableClass_H1 td A:hover { COLOR: #339933; text-decoration: none; word-wrap: break-word; word-break: break-all; }

.TableClass_H1_Footer td {border: 0;}

/*管理者預覽按鈕*/
a.WebPrevie {
    background: url(../images/earth.png);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 22px;
    height: 22px;
}